Repository MicrosoftDocs/power-platform, pull requests merged in 2021-05, with the labels that each got.

#707 Correct typo environments-first-run-experience.md
  power-virtual-agents/environments-first-run-experience.md
Labels: pva

#723 Update managed-properties-alm.md
  power-platform/alm/managed-properties-alm.md
Labels: alm

#706 Update dependency-tracking-solution-components.md
  power-platform/alm/dependency-tracking-solution-components.md
Labels: alm

#690 corrected typo
  power-platform/guidance/adoption/environment-strategy.md
Labels: adoption
