Repository MicrosoftDocs/power-platform, pull requests merged in 2021-01, with the labels that each got.

#525 Fix a typo
  power-virtual-agents/teams/fundamentals-get-started-teams.md
Labels: pva

#496 Update limitations.md
  power-platform/guidance/coe/limitations.md
Labels: coe

#416 Update setup-auditlog.md
  power-platform/guidance/coe/setup-auditlog.md
Labels: waiting on internal feedback
