Repository MicrosoftDocs/power-platform, pull requests merged in 2021-11, with the labels that each got.

#957 Consolidate duplicated AsyncOperation property
  power-platform/alm/devops-build-tool-tasks.md
Labels: assigned-to-contributors

#956 Clean up whitespace
  power-platform/alm/devops-build-tool-tasks.md
Labels: assigned-to-contributors

#954 Update pay-as-you-go-overview.md
  power-platform/admin/pay-as-you-go-overview.md
Labels: assigned-to-contributors

#751 Remove API Hub references.md
  power-platform/guidance/adoption/tenant-isolation.md
Labels: guidance, assigned-to-contributors

#925 Update conn-ref-env-variables-build-tools.md
  power-platform/alm/conn-ref-env-variables-build-tools.md
Labels: alm

#936 Center of Excellence: Update limitations.md
  power-platform/guidance/coe/limitations.md
Labels: assigned-to-contributors

#971 Update email-message-filtering-correlation.md
  power-platform/admin/email-message-filtering-correlation.md
Labels: assigned-to-contributors

#964 Update setup-governance-components.md
  power-platform/guidance/coe/setup-governance-components.md
Labels: assigned-to-contributors

#967 Update operators.md
  power-platform/power-fx/operators.md
Labels: assigned-to-contributors

#980 Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Labels: assigned-to-contributors

#981 Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Labels: assigned-to-contributors

#982 Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Labels: assigned-to-contributors

#983 Update setup-governance-components.md
  power-platform/guidance/coe/setup-governance-components.md
Labels: assigned-to-contributors
