Repository MicrosoftDocs/power-platform, pull requests merged in 2022-05, with the labels that each got.

#1215 Fix typo Resource URL - #1172
  power-platform/guidance/coe/cli/alm/overview.md
Labels: assigned-to-contributors

#1241 updated instruction for azure portal trial
  power-platform/guidance/coe/cli/alm/before-you-start.md
Labels: alm, assigned-to-contributors

#1204 Update devops-github-actions.md
  power-platform/alm/devops-github-actions.md
Labels: alm, assigned-to-contributors

#1247 Update basics-alm.md
  power-platform/alm/basics-alm.md
Labels: alm, assigned-to-contributors

#1251 Ado 13099 aw edit
  power-platform/admin/about-lockbox.md
Labels: needs-writer-review, assigned-to-contributors

#1259 Clarify Microsoft Support for preview features
  power-platform/admin/what-are-preview-features-how-do-i-enable-them.md
Labels: assigned-to-contributors

#1271 Spelling fixes
  power-platform/admin/cross-tenant-restrictions.md
  power-platform/admin/sharepoint-document-management-software-requirements.md
  power-virtual-agents/configure-sso.md
Labels: assigned-to-contributors
