Repository MicrosoftDocs/power-platform, pull requests merged in 2022-09, with the labels that each got.

#1422 docs(PowerApps PowerShell): no-admin-rights
  power-platform/admin/powerapps-powershell.md
Labels: waiting on internal feedback, PowerShell, assigned-to-contributors

#1446 Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Labels: assigned-to-contributors

#1467 Update add-ons.md
  power-platform/admin/power-automate-licensing/add-ons.md
Labels: assigned-to-contributors

#1465 Update almaccelerator-powerpages.md
  power-platform/guidance/coe/almaccelerator-powerpages.md
Labels: assigned-to-contributors

#1416 Updated flow URL
  power-platform/guidance/coe/setup-archive-components.md
Labels: coe, assigned-to-contributors

#1468 Update api-request-limits-allocations.md
  power-platform/admin/api-request-limits-allocations.md
Labels: assigned-to-contributors
