Repository MicrosoftDocs/power-platform, pull requests merged in 2023-11, with the labels that each got.

#2236 Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Labels: assigned-to-contributors

#2239 Update general-availability-deployment.md
  power-platform/admin/general-availability-deployment.md
Labels: assigned-to-contributors

#2254 Update edit-properties-environment.md
  power-platform/admin/edit-properties-environment.md
Labels: assigned-to-contributors

#2277 [Copilot Studio] Update customize-default-canvas.md
  power-virtual-agents/customize-default-canvas.md
Labels: pva, assigned-to-contributors

#2267 Update copilot-conversational-plugins.md
  power-virtual-agents/copilot-conversational-plugins.md
Labels: pva, assigned-to-contributors

#2259 Update delegated-deployments-setup.md
  power-platform/alm/delegated-deployments-setup.md
Labels: assigned-to-contributors

#2252 Fix typo in Activites.
  power-virtual-agents/authoring-send-event-activities.md
Labels: pva

#2262 Update copilot-plugins-architecture.md
  power-virtual-agents/copilot-plugins-architecture.md
Labels: pva, assigned-to-contributors

#2235 Update authoring-send-message.md
  power-virtual-agents/authoring-send-message.md
Labels: pva, assigned-to-contributors

#2222 Update doc about token and samples
  power-virtual-agents/publication-connect-bot-to-custom-application.md
Labels: pva, assigned-to-contributors

#2005 Update error-codes.md
  power-virtual-agents/error-codes.md
Labels: pva, assigned-to-contributors

#2283 Update formula-reference-pac-cli.md
  power-platform/power-fx/formula-reference-pac-cli.md
Labels: assigned-to-contributors
