Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

grammar fix
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added new FAQ
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update wp-security-cds.md
  power-platform/admin/wp-security-cds.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Review and edits
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-deploy-packages.md
  power-platform/developer/unified-experience/finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
  power-platform/media/D365FinOpsApplicationExplorer.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-environment.md
  power-platform/admin/create-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update wp-security-cds.md
  power-platform/admin/wp-security-cds.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-faq.md for clarity
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated language for Per App licensing bullet
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update devops-github-available-actions.md
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Style tweaks
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Style fixes
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updated date
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates based on feedback
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

updates
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

filename
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update nlu-generative-answers-sharepoint-onedrive.md
  power-virtual-agents/nlu-generative-answers-sharepoint-onedrive.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updating metadata title and description
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update requirements-quotas.md
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update overview-integration-application-insights.md
  power-platform/admin/overview-integration-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update overview-integration-application-insights.md
  power-platform/admin/overview-integration-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae
