Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

minor edit
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

check
  power-platform/developer/TOC.yml
  power-platform/developer/test-engine/command-input.md
  power-platform/developer/test-engine/media/download-test-suite-individual.png
  power-platform/developer/test-engine/media/download-test-suite.png
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/samples.md
  power-platform/developer/test-engine/yaml.md
  power-platform/developer/tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

acrolinx
  power-platform/developer/TOC.yml
  power-platform/developer/test-engine/command-input.md
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/samples.md
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix toc
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

add disclaimer
  power-platform/developer/test-engine/command-input.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/samples.md
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/samples.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added PPAC API urls to be allow listed
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update online-requirements.md
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

See also link (Sid)
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update azure-openAI-on-your-data.md
  power-virtual-agents/azure-openAI-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update analytics-powerapps.md
  power-platform/admin/analytics-powerapps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-flow.md
  power-platform/admin/analytics-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update docfx.json
  power-virtual-agents/docfx.json
Owners: @iaanw, @leeclontz, @KumarVivek

Update analytics-ui-flow.md
  power-platform/admin/analytics-ui-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-powerapps.md
  power-platform/admin/analytics-powerapps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-flow.md
  power-platform/admin/analytics-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-flow.md
  power-platform/admin/analytics-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-ui-flow.md
  power-platform/admin/analytics-ui-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

rename
  power-virtual-agents/nlu-azure-openai-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

...
  power-virtual-agents/nlu-azure-openai-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

Core edits
  power-virtual-agents/nlu-azure-openai-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update online-requirements.md
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update online-requirements.md
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update online-requirements.md
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Additions
  power-platform/availability.md
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/administer/configure-environment-variables.md
  power-platform/solution-templates/finance/sap-procurement/administer/media/set-up-gateway/opdg-connect.png
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-environments-data-policies.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-gateway.md
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/media/goods-receipts/sap-procure-gr-ed.png
  power-platform/solution-templates/finance/sap-procurement/use/media/invoices/sap-procure-invoices-ed.png
  power-platform/solution-templates/finance/sap-procurement/use/media/payments/sap-procure-payments-ed.png
  power-platform/solution-templates/finance/sap-procurement/use/media/purchase-order-management/sap-procure-po-ed.png
  power-platform/solution-templates/finance/sap-procurement/use/media/requisition-management/sap-procure-req-ed.png
  power-platform/solution-templates/finance/sap-procurement/use/media/vendor-management/sap-procure-vendors-ed.png
  power-platform/solution-templates/finance/sap-procurement/use/payment-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/media/overview/ar-four-screens.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-awards-recognition.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-nominate.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-select-award.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-star-ratings.png
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
Owners: none

Project best practices creation
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
  power-virtual-agents/guidance/project-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

image
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-admin-app.png
  power-platform/solution-templates/hr/awards-and-recognition/use.md
Owners: none

publish Awards & Recognition
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/media/overview/ar-four-screens.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-admin-app.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-awards-recognition.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-nominate.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-select-award.png
  power-platform/solution-templates/hr/awards-and-recognition/media/use/ar-star-ratings.png
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
  power-platform/solution-templates/hr/employee-kudos/install.md
  power-platform/solution-templates/hr/employee-kudos/use.md
Owners: none

Updated to today's date
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
Owners: none

Adding links
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/employee-kudos/install.md
  power-platform/solution-templates/hr/employee-kudos/overview.md
  power-platform/solution-templates/overview.md
Owners: none

Update cross-tenant-restrictions.md
  power-platform/admin/cross-tenant-restrictions.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft
