Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update devops-build-tools.md
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Add new user default note to Regional Formatting
  power-platform/admin/customize-regional-options-admins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

tweaks
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update devops-build-tool-tasks.md
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

PVA automatically creates and rotates certificates
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update configuration-hand-off-omnichannel.md
  power-virtual-agents/configuration-hand-off-omnichannel.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update requirements-quotas.md
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update requirements-quotas.md
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update requirements-quotas.md
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/media/nlu-gpt/nlu-boost-bots.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-gpt-quickstart.md
  power-virtual-agents/nlu-gpt-quickstart.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/guidance/media/topics/Focus.png
  power-virtual-agents/guidance/media/topics/KeepItSimple.png
  power-virtual-agents/guidance/media/topics/flywheel.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-conversations.md
  power-virtual-agents/nlu-boost-conversations.md
Owners: @iaanw, @leeclontz, @KumarVivek

Delete power-virtual-agents/guidance/media/topics/flywheel.png
  power-virtual-agents/guidance/media/topics/flywheel.png
Owners: @iaanw, @leeclontz, @KumarVivek

Delete power-virtual-agents/guidance/media/topics/Focus.png
  power-virtual-agents/guidance/media/topics/Focus.png
Owners: @iaanw, @leeclontz, @KumarVivek

Delete power-virtual-agents/guidance/media/topics/KeepItSimple.png
  power-virtual-agents/guidance/media/topics/KeepItSimple.png
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-9/26
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
  power-virtual-agents/guidance/project-best-practices.md
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu 9/26
  power-virtual-agents/guidance/project-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/media/nlu-gpt/nlu-download-document.png
  power-virtual-agents/media/nlu-gpt/nlu-upload-document.png
Owners: @iaanw, @leeclontz, @KumarVivek

Delete power-virtual-agents/media/nlu-gpt/nlu-upload-document.png
  power-virtual-agents/media/nlu-gpt/nlu-upload-document.png
Owners: @iaanw, @leeclontz, @KumarVivek

Delete power-virtual-agents/media/nlu-gpt/nlu-download-document.png
  power-virtual-agents/media/nlu-gpt/nlu-download-document.png
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/media/nlu-gpt/nlu-document-download.png
  power-virtual-agents/media/nlu-gpt/nlu-document-upload.png
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-until page 8
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Create nlu-documents
  power-virtual-agents/nlu-documents
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-page-9
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-page-9-V2
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-page-10
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
  power-virtual-agents/guidance/project-building-a-team.md
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-page9-v2
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Set up Install and Customize
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
  power-platform/solution-templates/hr/employee-kudos/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/media/customize/ob-customize-emails.png
  power-platform/solution-templates/hr/onboarding-buddy/media/customize/ob-customize-intro-screens.png
  power-platform/solution-templates/hr/onboarding-buddy/media/customize/ob-customize-mod-match.png
  power-platform/solution-templates/hr/onboarding-buddy/media/customize/ob-customize-reg-org.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-active-config-record.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-add-users.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-audit.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-config-match-duration.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-lft-nav-tables.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-onboarders-sync.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-select-md-app.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-share-app.png
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-start-audit.png
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
Owners: none

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Updating content to replace "gdpr" with "privacy" Other changes per work item 14588
  power-platform/admin/TOC.yml
  power-platform/admin/about-gdpr.md
  power-platform/admin/about-privacy.md
  power-platform/admin/common-data-service-privacy-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update devops-build-tool-tasks.md
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
