Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update connect-exchange-server-on-premises.md
  power-platform/admin/connect-exchange-server-on-premises.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added examples to Find function
  power-platform/power-fx/reference/function-find.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Content updates
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/experience-optimization/checklist.md
  power-platform/well-architected/experience-optimization/design-patterns.md
  power-platform/well-architected/experience-optimization/index.yml
  power-platform/well-architected/experience-optimization/principles.md
  power-platform/well-architected/experience-optimization/tradeoffs.md
  power-platform/well-architected/index.md
  power-platform/well-architected/index.yml
Owners: none

Update content-security-policy.md
  power-platform/admin/content-security-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update content-security-policy.md
  power-platform/admin/content-security-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-us-government.md
  power-platform/admin/powerapps-us-government.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added link to Power Pages white papers
  power-platform/guidance/white-papers/index.md
Owners: @KumarVivek, @sericks007

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/solution-templates/TOC.yml
Owners: none

Update project-building-a-team.md
  power-virtual-agents/guidance/project-building-a-team.md
Owners: @iaanw, @leeclontz, @KumarVivek

New branding
  power-platform/developer/administer-catalog.md
  power-platform/developer/cli/reference/includes/connector-init-intro.md
  power-platform/developer/create-developer-environment.md
  power-platform/developer/isvstudio/index.md
  power-platform/developer/plan.md
  power-platform/developer/reference/appManagement/appManagement.json
  power-platform/developer/reference/governance/governance.json
  power-platform/developer/reference/licensing/licensing.json
  power-platform/developer/reference/powerPages/powerPages.json
  power-platform/developer/submit-catalog-items.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  power-virtual-agents/guidance/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-10/17-v1
  power-virtual-agents/guidance/Adaptive Cards-Display Data from Arrays 
  power-virtual-agents/guidance/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-10/17-v2
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update index.yml
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update Adaptive Cards-Display Data from Arrays
  power-virtual-agents/guidance/Adaptive Cards-Display Data from Arrays
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-10/17-v3
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays 
  power-virtual-agents/guidance/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-10/17-v5
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update TOC.yml
  power-virtual-agents/guidance/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update and rename Adaptive Cards-Display Data from Arrays to Adaptive-Cards-Display-Data-from-Arrays
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-10/17-v9
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays 
Owners: @iaanw, @leeclontz, @KumarVivek

test
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays
Owners: @iaanw, @leeclontz, @KumarVivek

test
  power-virtual-agents/guidance/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

testing
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Fixed link in TOC
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/index.yml
Owners: none

test
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

test2
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays
Owners: @iaanw, @leeclontz, @KumarVivek

test3
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
Owners: @iaanw, @leeclontz, @KumarVivek

test3
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update wp-security.md
  power-platform/admin/wp-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update wp-security.md
  power-platform/admin/wp-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update wp-security.md
  power-platform/admin/wp-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

use copy to get environment on specific version
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

10/18-Neetu
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
  power-virtual-agents/guidance/media/Adaptive Card/EMPtask.png
  power-virtual-agents/guidance/media/Adaptive Card/TaskTable.png
  power-virtual-agents/guidance/media/Adaptive Card/VAR.png
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v2
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
  power-virtual-agents/guidance/media/AdaptiveCard/EMPtask.png
  power-virtual-agents/guidance/media/AdaptiveCard/TaskTable.png
  power-virtual-agents/guidance/media/AdaptiveCard/VAR.png
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v3
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update delegated-deployments-setup.md
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update delegated-deployments-setup.md
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

10/18-v4
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
