Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Updating content and links: replacing "gdpr" with "privacy"
  power-platform/admin/about-privacy.md
  power-platform/admin/wp-compliance-data-privacy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates to replace "gdpr" with "privacy"
  power-platform/admin/powerapps-gdpr-export-dsr.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fixing new link error
  power-platform/admin/powerapps-gdpr-export-dsr.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Added preview label
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Updating links for "gdpr" to "privacy" change
  power-platform/admin/miscellaneous-privileges.md
  power-platform/admin/wp-compliance-data-privacy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Set up Manage and Use
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/media/install/ob-install-assign-roles.png
  power-platform/solution-templates/hr/onboarding-buddy/media/manage/ob-manage-configure.png
  power-platform/solution-templates/hr/onboarding-buddy/media/manage/ob-manage-new-config.png
  power-platform/solution-templates/hr/onboarding-buddy/media/manage/ob-manage-onboarder-details.png
  power-platform/solution-templates/hr/onboarding-buddy/media/manage/ob-manage-onboarders.png
  power-platform/solution-templates/hr/onboarding-buddy/media/ob-set-up-roles-env.png
  power-platform/solution-templates/hr/onboarding-buddy/media/use/ob-use-buddy-details.png
  power-platform/solution-templates/hr/onboarding-buddy/media/use/ob-use-match.png
  power-platform/solution-templates/hr/onboarding-buddy/media/use/ob-use-update.png
  power-platform/solution-templates/hr/onboarding-buddy/media/use/ob-use-view-matched.png
  power-platform/solution-templates/hr/onboarding-buddy/media/use/ob-use-welcome.png
  power-platform/solution-templates/hr/onboarding-buddy/use.md
Owners: none

neetu-9/27-v1
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updated Tip in OB Install
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
  power-platform/solution-templates/hr/awards-and-recognition/manage.md
  power-platform/solution-templates/hr/employee-kudos/install-and-configure.md
  power-platform/solution-templates/hr/employee-kudos/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/use.md
Owners: none

neetu-9/27-v2
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Acrolinx edits
  power-platform/solution-templates/hr/awards-and-recognition/use.md
Owners: none

Neetu/9/27-v1
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-9/27-v1.1
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Acrolinx updates
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
Owners: none

neetu-page-10-v1
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
  power-virtual-agents/guidance/media/topics/Project-Building-Internal-Team.png
  power-virtual-agents/guidance/project-building-a-team.md
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Neetu-page10v1.0
  power-virtual-agents/guidance/project-building-a-team.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update TOC.yml
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

install updates per Shane's review
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
Owners: none

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

neetu-page 12-v3
  power-virtual-agents/guidance/project-best-practices.md
  power-virtual-agents/guidance/project-building-a-team.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

nettu-v4
  power-virtual-agents/guidance/project-building-a-team.md
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-v5
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-v5
  power-virtual-agents/guidance/project-best-practices.md
  power-virtual-agents/guidance/project-building-a-team.md
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

neetu-v8
  power-virtual-agents/guidance/project-best-practices.md
  power-virtual-agents/guidance/project-building-a-team.md
  power-virtual-agents/guidance/project-getting-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-trials.md
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-trials.md
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Acrolinx edits
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
Owners: none

Updating intro to remove "gdpr": replace with [!INCLUDE]s or "privacy" as apropos
  power-platform/admin/common-data-service-privacy-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft
