Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update apply-seed-data.md
  power-platform/solution-templates/finance/sap-procurement/administer/apply-seed-data.md
Owners: none

Update configure-authentication.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-authentication.md
Owners: none

Update configure-environment-variables.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-environment-variables.md
Owners: none

Update configure-security-groups.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-security-groups.md
Owners: none

Update customize-solutions.md
  power-platform/solution-templates/finance/sap-procurement/administer/customize-solutions.md
Owners: none

Update extend-canvas-apps.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-canvas-apps.md
Owners: none

Update extend-cloud-flows.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-cloud-flows.md
Owners: none

Update install.md
  power-platform/solution-templates/finance/sap-procurement/administer/install.md
Owners: none

Update monitor-errors.md
  power-platform/solution-templates/finance/sap-procurement/administer/monitor-errors.md
Owners: none

Update set-up-connections.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-connections.md
Owners: none

Update set-up-environments-data-policies.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-environments-data-policies.md
Owners: none

Update set-up-gateway.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-gateway.md
Owners: none

Update extend-model-apps-dataverse.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-model-apps-dataverse.md
Owners: none

Update pipelines.md
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Fixing link
  power-virtual-agents/configure-sso-teams.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updates
  power-platform/power-fx/reference/function-clear-collect-clearcollect.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update create-edit-business-units.md
  power-platform/admin/create-edit-business-units.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Formula columns
  power-platform/power-fx/reference/function-choices.md
  power-platform/power-fx/reference/function-clear-collect-clearcollect.md
  power-platform/power-fx/reference/function-clock-calendar.md
  power-platform/power-fx/reference/function-concurrent.md
  power-platform/power-fx/reference/function-download.md
  power-platform/power-fx/reference/function-encode-decode.md
  power-platform/power-fx/reference/function-errors.md
  power-platform/power-fx/reference/function-filter-lookup.md
  power-platform/power-fx/reference/function-form.md
  power-platform/power-fx/reference/function-groupby.md
  power-platform/power-fx/reference/function-hashtags.md
  power-platform/power-fx/reference/function-isblank-isempty.md
  power-platform/power-fx/reference/function-json.md
  power-platform/power-fx/reference/function-refresh.md
  power-platform/power-fx/reference/function-remove-removeif.md
  power-platform/power-fx/reference/function-select.md
  power-platform/power-fx/reference/function-setproperty.md
  power-platform/power-fx/reference/function-showerror.md
  power-platform/power-fx/reference/function-sort.md
  power-platform/power-fx/reference/function-table-shaping.md
  power-platform/power-fx/reference/function-update-updateif.md
  power-platform/power-fx/reference/function-validate.md
  power-platform/power-fx/reference/object-app.md
  power-platform/power-fx/reference/operators.md
  power-platform/power-fx/reference/signals.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update formula-reference-dataverse.md
  power-platform/power-fx/formula-reference-dataverse.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Tabs
  power-platform/power-fx/formula-reference-dataverse.md
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/reference/function-clear-collect-clearcollect.md
  power-platform/power-fx/reference/function-defaults.md
  power-platform/power-fx/reference/function-enable-disable.md
  power-platform/power-fx/reference/function-exit.md
  power-platform/power-fx/reference/function-form.md
  power-platform/power-fx/reference/function-isblank-isempty.md
  power-platform/power-fx/reference/function-language.md
  power-platform/power-fx/reference/function-navigate.md
  power-platform/power-fx/reference/function-param.md
  power-platform/power-fx/reference/function-readnfc.md
  power-platform/power-fx/reference/function-requesthide.md
  power-platform/power-fx/reference/function-revert.md
  power-platform/power-fx/reference/function-savedata-loaddata.md
  power-platform/power-fx/reference/function-set.md
  power-platform/power-fx/reference/function-updatecontext.md
  power-platform/power-fx/reference/function-user.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-edit-business-units.md
  power-platform/admin/create-edit-business-units.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-edit-business-units.md
  power-platform/admin/create-edit-business-units.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-edit-business-units.md
  power-platform/admin/create-edit-business-units.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-activity-logging.md
  power-platform/admin/admin-activity-logging.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates with responses
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update list-tenantsettings.md
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

new-enforcements
  power-platform/admin/power-automate-licensing/faqs.md
  power-platform/admin/power-automate-licensing/when-flows-are-turned-off.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-activity-logging.md
  power-platform/admin/admin-activity-logging.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

toc update
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update nlu-generative-answers-azure-openai.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-generative-answers-azure-openai.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/media/nlu-gpt/aoai-default-instance.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-generative-answers-azure-openai.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update topic-authoring-best-practices.md
  power-virtual-agents/guidance/topic-authoring-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-generative-answers-azure-openai.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek
