Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update core-components.md
  power-platform/guidance/coe/core-components.md
Owners: @KumarVivek, @sericks007

Update power-bi-nurture.md
  power-platform/guidance/coe/power-bi-nurture.md
Owners: @KumarVivek, @sericks007

Update using-word-templates-dynamics-365.md
  power-platform/admin/using-word-templates-dynamics-365.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update using-word-templates-dynamics-365.md
  power-platform/admin/using-word-templates-dynamics-365.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update using-word-templates-dynamics-365.md
  power-platform/admin/using-word-templates-dynamics-365.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Misspelling fix and pull from main
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update nlu-azure-openai-on-your-data.md
  power-virtual-agents/nlu-azure-openai-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-azure-openai-on-your-data.md
  power-virtual-agents/nlu-azure-openai-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

edits
  power-virtual-agents/media/nlu-gpt/generative-an swers-azure-deploy.png
  power-virtual-agents/media/nlu-gpt/generative-answers-azure-connect.png
  power-virtual-agents/media/nlu-gpt/generative-answers-azure-source.png
  power-virtual-agents/media/nlu-gpt/generative-answers-azure-topic.png
  power-virtual-agents/nlu-azure-openai-on-your-data.md
  power-virtual-agents/nlu-boost-node.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
  power-virtual-agents/nlu-generative-answers-bing.md
  power-virtual-agents/nlu-generative-answers-custom-data.md
  power-virtual-agents/nlu-generative-answers-sharepoint-onedrive.md
Owners: @iaanw, @leeclontz, @KumarVivek

ss
  power-virtual-agents/TOC.yml
  power-virtual-agents/nlu-boost-node.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

ss
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

A
  power-virtual-agents/media/nlu-gpt/generative-answers-azure-deploy.png
  power-virtual-agents/nlu-boost-node.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

as
  power-virtual-agents/TOC.yml
  power-virtual-agents/nlu-boost-node.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update core-components.md
  power-platform/guidance/coe/core-components.md
Owners: @KumarVivek, @sericks007

Update get-help-support.md
  power-platform/admin/get-help-support.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update get-help-support.md
  power-platform/admin/get-help-support.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/how-can-we-help.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update get-help-support.md
  power-platform/admin/get-help-support.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update get-help-support.md
  power-platform/admin/get-help-support.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update get-help-support.md
  power-platform/admin/get-help-support.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/how-can-we-help.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update cmk-migrate-from-byok.md
  power-platform/admin/cmk-migrate-from-byok.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix
  power-platform/developer/create-developer-environment.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update cmk-migrate-from-byok.md
  power-platform/admin/cmk-migrate-from-byok.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Initial add of whitepaper conversion
  power-platform/guidance/management/Default Environment Migration.md
  power-platform/guidance/management/media/image2.gif
  power-platform/guidance/management/media/image3.png
  power-platform/guidance/management/media/image4.png
  power-platform/guidance/management/media/image5.gif
  power-platform/guidance/management/media/image6.png
Owners: @KumarVivek, @sericks007

Update run-pipeline.md
  power-platform/alm/run-pipeline.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update pipelines.md
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Fix link to Teams PVA app
  power-virtual-agents/fundamentals-what-is-power-virtual-agents.md
Owners: @iaanw, @leeclontz, @KumarVivek

Project best practice doc
  power-virtual-agents/guidance/media/topics/BestPractices.png
  power-virtual-agents/guidance/media/topics/Project-best-practices-Flywheel.png
  power-virtual-agents/guidance/media/topics/Project-best-practices-Keep-it-simple.png
  power-virtual-agents/guidance/media/topics/Project-best-practices-goal.png
  power-virtual-agents/guidance/project-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

project best practice V1
  power-virtual-agents/guidance/project-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-platform/admin/media/how-can-we-help.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update get-help-support.md
  power-platform/admin/get-help-support.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Substantial updates
  power-platform/guidance/TOC.yml
  power-platform/guidance/management/Default Environment Migration.md
  power-platform/guidance/media/image2.gif
  power-platform/guidance/media/image3.png
  power-platform/guidance/media/image4.png
  power-platform/guidance/media/image5.gif
  power-platform/guidance/media/image6.png
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Removing previous version of article
  power-platform/guidance/best-practices/media/image2.gif
  power-platform/guidance/best-practices/media/image3.png
  power-platform/guidance/best-practices/media/image4.png
  power-platform/guidance/best-practices/media/image5.gif
  power-platform/guidance/best-practices/media/image6.png
  power-platform/guidance/best-practices/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Some cleanup
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Fixing build warnings
  power-platform/guidance/TOC.yml
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Shortened TOC name
  power-platform/guidance/TOC.yml
Owners: @KumarVivek, @sericks007

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
