Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update control-environment-creation.md
  power-platform/admin/control-environment-creation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Note about adding multitenant apps as application users.
  power-platform/admin/manage-application-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update control-environment-creation.md
  power-platform/admin/control-environment-creation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-application-users.md
  power-platform/admin/manage-application-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-application-users.md
  power-platform/admin/manage-application-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update index.yml
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Note updated
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update nurture-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007

Update nurture-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

refreshed pac cli for 8/2023
  power-platform/developer/TOC.yml
  power-platform/developer/cli/reference/admin.md
  power-platform/developer/cli/reference/application.md
  power-platform/developer/cli/reference/auth.md
  power-platform/developer/cli/reference/canvas.md
  power-platform/developer/cli/reference/catalog.md
  power-platform/developer/cli/reference/connector.md
  power-platform/developer/cli/reference/copilot.md
  power-platform/developer/cli/reference/data.md
  power-platform/developer/cli/reference/help.md
  power-platform/developer/cli/reference/includes/admin-list-service-principal-intro.md
  power-platform/developer/cli/reference/includes/admin-list-service-principal-remarks.md
  power-platform/developer/cli/reference/includes/admin-set-governance-config-intro.md
  power-platform/developer/cli/reference/includes/admin-set-governance-config-remarks.md
  power-platform/developer/cli/reference/includes/paportal-bootstrap-migrate-intro.md
  power-platform/developer/cli/reference/includes/paportal-bootstrap-migrate-remarks.md
  power-platform/developer/cli/reference/includes/tests-intro.md
  power-platform/developer/cli/reference/includes/tests-remarks.md
  power-platform/developer/cli/reference/includes/tests-run-intro.md
  power-platform/developer/cli/reference/includes/tests-run-remarks.md
  power-platform/developer/cli/reference/index.md
  power-platform/developer/cli/reference/modelbuilder.md
  power-platform/developer/cli/reference/org.md
  power-platform/developer/cli/reference/package.md
  power-platform/developer/cli/reference/paportal.md
  power-platform/developer/cli/reference/pcf.md
  power-platform/developer/cli/reference/pipeline.md
  power-platform/developer/cli/reference/plugin.md
  power-platform/developer/cli/reference/solution.md
  power-platform/developer/cli/reference/telemetry.md
  power-platform/developer/cli/reference/tests.md
  power-platform/developer/cli/reference/tool.md
  power-platform/developer/cli/reference/virtual-agent.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

tests command intro
  power-platform/developer/cli/reference/includes/tests-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update setup-auditlog.md
  power-platform/guidance/coe/setup-auditlog.md
Owners: @KumarVivek, @sericks007

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Moved contents to Power apps repo
  power-platform/developer/TOC.yml
  power-platform/developer/test-engine/controlsupport.md
  power-platform/developer/test-engine/media/download-test-suite-individual.png
  power-platform/developer/test-engine/media/download-test-suite.png
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/yaml.md
  power-platform/developer/tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update manage-group-teams.md
  power-platform/admin/manage-group-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/environment-routing.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-group-teams.md
  power-platform/admin/manage-group-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update setup-auditlog.md
  power-platform/guidance/coe/setup-auditlog.md
Owners: @KumarVivek, @sericks007

Updates based on feedback
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Update setup-auditlog.md
  power-platform/guidance/coe/setup-auditlog.md
Owners: @KumarVivek, @sericks007

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update setup-auditlog.md
  power-platform/guidance/coe/setup-auditlog.md
Owners: @KumarVivek, @sericks007

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Create deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Create place-holder.md
  power-platform/developer/media/unified-experience/place-holder.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/developer/media/unified-experience/deploy-packages.md
  power-platform/developer/media/unified-experience/development-lifecycle.md
  power-platform/developer/media/unified-experience/get-started.md
  power-platform/developer/media/unified-experience/odop-placeholder-2.md
  power-platform/developer/media/unified-experience/odop-placeholder-3.md
  power-platform/developer/media/unified-experience/overview.md
  power-platform/developer/media/unified-experience/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly
