Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

10/18-v5
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
  power-virtual-agents/guidance/media/AdaptiveCard/AdaptiveCardpng.png
  power-virtual-agents/guidance/media/AdaptiveCard/FinalOutput.png
  power-virtual-agents/guidance/media/AdaptiveCard/GANode.png
  power-virtual-agents/guidance/media/AdaptiveCard/topic.png
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v6
  power-virtual-agents/guidance/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update set-up-skype-or-skype-for-business.md
  power-platform/admin/set-up-skype-or-skype-for-business.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

10/18-v7
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v8
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update skype-business-integration.md
  power-platform/admin/skype-business-integration.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

10/18-v9
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
  power-virtual-agents/guidance/Adaptive-Cards-Display-Data-from-Arrays.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update system-settings-dialog-box-general-tab.md
  power-platform/admin/system-settings-dialog-box-general-tab.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pipelines.md
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

SSO Doc update - clarifying supported scenarios
  power-virtual-agents/configure-sso.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update system-settings-dialog-box-general-tab.md
  power-platform/admin/system-settings-dialog-box-general-tab.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

10/18-v10
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-platform/alm/media/pipelines-extensibility-train.png
Owners: @PHecke, @KumarVivek, @Mattp123

10/18-v11
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
Owners: @iaanw, @leeclontz, @KumarVivek

Teams + Web SSO must use app manifest deployment
  power-virtual-agents/configure-sso-teams.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v12
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

10/18-v13
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

10/18-v14
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v15
  power-virtual-agents/guidance/Adaptive-Card-Add-feedback-for-every-response.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v15
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v16
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v17
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v18
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

10/18-v19
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

Fixes
  power-platform/developer/cli/reference/admin.md
  power-platform/developer/cli/reference/includes/connector-init-intro.md
  power-platform/developer/create-developer-environment.md
  power-platform/developer/isvstudio/index.md
  power-platform/developer/plan.md
  power-platform/developer/reference/appManagement/appManagement.json
  power-platform/developer/reference/governance/governance.json
  power-platform/developer/reference/licensing/licensing.json
  power-platform/developer/reference/powerPages/powerPages.json
  power-platform/developer/submit-catalog-items.md
Owners: @PHecke, @KumarVivek, @JimDaly

Topic authoring update
  power-virtual-agents/guidance/topic-authoring-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

check
  power-platform/developer/cli/reference/includes/modelbuilder-build-remarks.md
  power-platform/developer/cli/reference/includes/modelbuilder-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits
  power-platform/developer/cli/reference/includes/modelbuilder-build-intro.md
  power-platform/developer/cli/reference/includes/modelbuilder-build-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly

update examples
  power-platform/developer/cli/reference/includes/modelbuilder-build-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor updates plus Azure rename
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Minor edits
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update system-settings-dialog-box-general-tab.md
  power-platform/admin/system-settings-dialog-box-general-tab.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update system-settings-dialog-box-general-tab.md
  power-platform/admin/system-settings-dialog-box-general-tab.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fixed link paths
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs.md
  power-platform/solution-templates/finance/sap-procurement/faqs.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
