Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Add Activating ME to the white paper TOC
  power-platform/guidance/TOC.yml
Owners: @KumarVivek, @sericks007

Inform better the Developer type environment are option as ME but are recomended
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Changed the Limit Sharing in Sandobox and Production.
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

corrected the quotes in the provision command
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update add-users-to-environment.md
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Clean up
  power-platform/solution-templates/finance/sap-procurement/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
Owners: none

Updates with FAQs and template re-ordering
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

removed two links
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/use.md
Owners: none

Acrolinx updates
  power-platform/solution-templates/hr/onboarding-buddy/use.md
Owners: none

Minor change
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Acrolinx fixes
  power-platform/solution-templates/hr/onboarding-buddy/use.md
Owners: none

Redirections
  .openpublishing.redirection.json
Owners: none

Acrolinx updates
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
Owners: none

Acrolinx updates
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
Owners: none

Review
  power-platform/guidance/white-papers/managed-environment-activation.md
  power-platform/guidance/white-papers/media/mae/image1.png
  power-platform/guidance/white-papers/media/mae/image10.png
  power-platform/guidance/white-papers/media/mae/image11.png
  power-platform/guidance/white-papers/media/mae/image12.png
  power-platform/guidance/white-papers/media/mae/image13.png
  power-platform/guidance/white-papers/media/mae/image14.png
  power-platform/guidance/white-papers/media/mae/image15.png
  power-platform/guidance/white-papers/media/mae/image16.png
  power-platform/guidance/white-papers/media/mae/image17.png
  power-platform/guidance/white-papers/media/mae/image18.png
  power-platform/guidance/white-papers/media/mae/image19.png
  power-platform/guidance/white-papers/media/mae/image2.png
  power-platform/guidance/white-papers/media/mae/image20.png
  power-platform/guidance/white-papers/media/mae/image21.png
  power-platform/guidance/white-papers/media/mae/image22.png
  power-platform/guidance/white-papers/media/mae/image23.png
  power-platform/guidance/white-papers/media/mae/image24.png
  power-platform/guidance/white-papers/media/mae/image3.png
  power-platform/guidance/white-papers/media/mae/image4.png
  power-platform/guidance/white-papers/media/mae/image5.png
  power-platform/guidance/white-papers/media/mae/image6.png
  power-platform/guidance/white-papers/media/mae/image7.png
  power-platform/guidance/white-papers/media/mae/image8.png
  power-platform/guidance/white-papers/media/mae/image9.png
Owners: @KumarVivek, @sericks007

Update
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Updates
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Initial draft
  power-platform/admin/cross-tenant-restrictions.md
  power-platform/admin/programmability-tutorial-cross-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor edits
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

Acrolinx corrections
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

edits
  power-virtual-agents/advanced-plugin-actions.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-documents.md
  power-virtual-agents/nlu-documents.md
Owners: @iaanw, @leeclontz, @KumarVivek

acro fixes
  power-virtual-agents/advanced-plugin-actions.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update advanced-plugin-actions.md
  power-virtual-agents/advanced-plugin-actions.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update TOC.yml
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

policheck fix
  power-platform/admin/language-collations.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

additional fixes
  power-platform/admin/language-collations.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update authoring-http-node.md
  power-virtual-agents/authoring-http-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update authoring-http-node.md
  power-virtual-agents/authoring-http-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-10/2-V1
  power-virtual-agents/guidance/project-building-a-team.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update remove-user-personal-data.md
  power-platform/admin/remove-user-personal-data.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update remove-user-personal-data.md
  power-platform/admin/remove-user-personal-data.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Link and language updates to: Remove "gdpr" from content/links Replace "gdpr" with "privacy" or similar as appropriate
  power-platform/admin/powerapps-privacy-export-dsr.md
  power-platform/admin/wp-compliance-data-privacy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Non-violating connections - Amitanshu Jha
  power-platform/admin/prevent-data-loss.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
