Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Updates to docs
  power-platform/developer/test-engine/command-input.md
  power-platform/developer/test-engine/controlsupport.md
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/samples.md
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update async-cascading.md
  power-platform/admin/async-cascading.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

check
  power-platform/developer/TOC.yml
  power-platform/developer/test-engine/controlsupport.md
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

edits done
  power-platform/developer/test-engine/controlsupport.md
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix mistake
  power-platform/developer/test-engine/command-input.md
  power-platform/developer/test-engine/controlsupport.md
  power-platform/developer/test-engine/overview.md
  power-platform/developer/test-engine/powerfx.md
  power-platform/developer/test-engine/samples.md
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

column headings
  power-platform/developer/test-engine/controlsupport.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix link
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepapers.md
  power-platform/guidance/whitepapers.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Revised for style, acrolinx, and date
  power-platform/alm/pipelines.md
  power-platform/alm/run-pipeline.md
Owners: @PHecke, @KumarVivek, @Mattp123

you can also use a control for navigate
  power-platform/power-fx/reference/function-navigate.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Edited payments and added See also
  power-platform/solution-templates/finance/sap-procurement/administer/apply-seed-data.md
  power-platform/solution-templates/finance/sap-procurement/overview.md
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/payment-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
Owners: none

Added tutorial to TOC
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

updated apply seed data image
  power-platform/solution-templates/finance/sap-procurement/administer/apply-seed-data.md
  power-platform/solution-templates/finance/sap-procurement/administer/media/apply-seed-data/sap-base-menu-items.png
Owners: none

updated monitor errors screenshot
  power-platform/solution-templates/finance/sap-procurement/administer/media/monitor-errors/sap-base-errors.png
  power-platform/solution-templates/finance/sap-procurement/administer/monitor-errors.md
Owners: none

Removing reference to enablePowerFxOverlay (unused)
  power-platform/developer/test-engine/yaml.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update environment-strategy.md
  power-platform/guidance/adoption/environment-strategy.md
Owners: @KumarVivek, @sericks007

Update admin-best-practices.md
  power-platform/guidance/adoption/admin-best-practices.md
Owners: @KumarVivek, @sericks007

Update security.yml
  power-platform/admin/security.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update environment-strategy.md
  power-platform/guidance/adoption/environment-strategy.md
Owners: @KumarVivek, @sericks007

Update environment-strategy.md
  power-platform/guidance/adoption/environment-strategy.md
Owners: @KumarVivek, @sericks007

Update environment-strategy.md
  power-platform/guidance/adoption/environment-strategy.md
Owners: @KumarVivek, @sericks007

Update environment-strategy.md
  power-platform/guidance/adoption/environment-strategy.md
Owners: @KumarVivek, @sericks007

Update admin-best-practices.md
  power-platform/guidance/adoption/admin-best-practices.md
Owners: @KumarVivek, @sericks007

NOTE created
  power-platform/solution-templates/finance/sap-procurement/administer/configure-authentication.md
Owners: none

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update nurture-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007
