Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Tweaked TOC node name to align with admin
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-trials.md
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-trials.md
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-platform-tools2.png
  power-platform/admin/unified-experience/media/copy-to-ode-view-apps2.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating images for formatting, branding
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Adding verbiage re: source/target in same region; linking to general environment copying
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add EntraObjectId to User function
  power-platform/power-fx/reference/function-user.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update function-user.md
  power-platform/power-fx/reference/function-user.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update function-user.md
  power-platform/power-fx/reference/function-user.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update function-user.md
  power-platform/power-fx/reference/function-user.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Added new topic
  power-platform/developer/media/unified-experience/devexp-test-deploy.png
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added new topic to TOC
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added link
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed link
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Formatting
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-apps-overview.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/install-provisioning-app.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/tutorial-new-environment1.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates for September
  power-platform/guidance/coe/governance-components.md
  power-platform/guidance/coe/setup-auditlog-http.md
  power-platform/guidance/coe/setup-core-components.md
  power-platform/guidance/coe/setup-governance-components.md
  power-platform/guidance/coe/setup-nurture-components.md
  power-platform/guidance/coe/setup-teams-components.md
  power-platform/guidance/coe/setup.md
  power-platform/guidance/coe/teams-governance.md
Owners: @KumarVivek, @sericks007

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor changes
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps2.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps2.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update of install apps image, related language
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Removing old images
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps.png
  power-platform/admin/unified-experience/media/copy-to-ode-platform-tools.png
  power-platform/admin/unified-experience/media/copy-to-ode-view-apps.png
Owners: @KumarVivek, @sericks007, @tapanm-msft
