Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Fixed lint issue
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Added whitepapers overview
  power-platform/guidance/TOC.yml
  power-platform/guidance/whitepapers.md
Owners: @KumarVivek, @sericks007

Fixed incorrect ms.service metadata
  power-platform/guidance/whitepapers.md
Owners: @KumarVivek, @sericks007

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update async-cascading.md
  power-platform/admin/async-cascading.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

check
  power-platform/developer/cli/reference/includes/admin-create-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

add sentence
  power-platform/developer/cli/reference/includes/admin-create-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revert "add sentence"
  power-platform/developer/cli/reference/includes/admin-create-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

Revert "check"
  power-platform/developer/cli/reference/includes/admin-create-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

add example
  power-platform/developer/cli/reference/includes/admin-create-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

add commas
  power-platform/developer/cli/reference/includes/admin-create-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update calendar.md
  power-platform/guidance/creator-kit/calendar.md
Owners: @KumarVivek, @sericks007

Update commandbar.md
  power-platform/guidance/creator-kit/commandbar.md
Owners: @KumarVivek, @sericks007

Update contextmenu.md
  power-platform/guidance/creator-kit/contextmenu.md
Owners: @KumarVivek, @sericks007

Update nav.md
  power-platform/guidance/creator-kit/nav.md
Owners: @KumarVivek, @sericks007

Update taglist.md
  power-platform/guidance/creator-kit/taglist.md
Owners: @KumarVivek, @sericks007

Create conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update visual-studio-connected-service.md
  power-platform/developer/visual-studio-connected-service.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/live-chat-assigned-to-queue.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/conversation-lifecyle-scenario.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

remove preview
  power-platform/developer/TOC.yml
  power-platform/developer/index.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Fixed author metadata
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Updates
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/use/payment-management.md
Owners: none

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Addressed Acrolinx issues
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepapers.md
Owners: @KumarVivek, @sericks007
