Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update .openpublishing.redirection.json
  .openpublishing.redirection.json
Owners: none

Removed links to sales territories as the file is deleted and the reference isn't necessary
  power-platform/admin/set-up-business-management-options.md
  power-platform/admin/work-fiscal-year-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added description metdata using ghostwriter
  power-platform/admin/set-up-business-management-options.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-licensing.md
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plan.md
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update plan.md
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update plan.md
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update plan.md
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update managed-environment-licensing.md
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Remove (preview) and [prerelease] tags from title and intro
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Updated pipeline-AI-deployment-notes.png to reflect new UI
  power-platform/alm/media/pipeline-AI-deployment-notes.png
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update TOC.yml to remove (preview)
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Update copilot-deployment-notes-pipelines.md; removed "preview"
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update set-up-pipelines.md
  power-platform/alm/set-up-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update pipelines.md
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Add files via upload
  power-platform/Canonical Approval Flow.png
  power-platform/Dynamic Properties Power Automate.png
  power-platform/Extensibility Flow Diagram.png
  power-platform/SPN Connection.png
Owners: none

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revised for style and date update
  power-platform/alm/pipelines.md
  power-platform/alm/set-up-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Fixing sequence
  power-platform/guidance/white-papers/index.md
Owners: @KumarVivek, @sericks007

Initial add
  power-platform/guidance/media/mae/image1.png
  power-platform/guidance/media/mae/image10.png
  power-platform/guidance/media/mae/image11.png
  power-platform/guidance/media/mae/image12.png
  power-platform/guidance/media/mae/image13.png
  power-platform/guidance/media/mae/image14.png
  power-platform/guidance/media/mae/image15.png
  power-platform/guidance/media/mae/image16.png
  power-platform/guidance/media/mae/image17.png
  power-platform/guidance/media/mae/image18.png
  power-platform/guidance/media/mae/image19.png
  power-platform/guidance/media/mae/image2.png
  power-platform/guidance/media/mae/image20.png
  power-platform/guidance/media/mae/image21.png
  power-platform/guidance/media/mae/image22.png
  power-platform/guidance/media/mae/image23.png
  power-platform/guidance/media/mae/image24.png
  power-platform/guidance/media/mae/image3.png
  power-platform/guidance/media/mae/image4.png
  power-platform/guidance/media/mae/image5.png
  power-platform/guidance/media/mae/image6.png
  power-platform/guidance/media/mae/image7.png
  power-platform/guidance/media/mae/image8.png
  power-platform/guidance/media/mae/image9.png
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Addressing initial Acrolinx issues
  power-platform/guidance/white-papers/index.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Adding alt text
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Fixed TIP and disallowed text
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update finance-operations-install-config-tools.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update formatting in finance-operations-install-config-tools.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor edits.
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Typo
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add information to the picture and alt text. Fix typos
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

fix image in table
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Fix table row
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Minor edits
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-install-config-tools.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-teams-components.md
  power-platform/guidance/coe/setup-teams-components.md
Owners: @KumarVivek, @sericks007

Update setup.md
  power-platform/guidance/coe/setup.md
Owners: @KumarVivek, @sericks007

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
