Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Added pipeline-AI-deployment-notes.gif
  power-platform/alm/media/pipeline-AI-deployment-notes.gif
Owners: @PHecke, @KumarVivek, @Mattp123

Create responsible-AI-overview.md
  power-platform/alm/responsible-AI-overview.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update responsible-AI-overview.md
  power-platform/alm/responsible-AI-overview.md
Owners: @PHecke, @KumarVivek, @Mattp123

Create faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update TOC.yml
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

added link for NL2Table
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update extend-model-apps-dataverse.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-model-apps-dataverse.md
Owners: none

Update set-up-environments-data-policies.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-environments-data-policies.md
Owners: none

Update install.md
  power-platform/solution-templates/hr/employee-kudos/install.md
Owners: none

Update use.md
  power-platform/solution-templates/hr/employee-kudos/use.md
Owners: none

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md with links to copilot content for Customer Service
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pipelines.md
  power-platform/alm/pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update advanced-ai-features.md
  power-virtual-agents/advanced-ai-features.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update index.yml
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Editig in progress
  power-platform/admin/TOC.yml
  power-platform/admin/continuous-access-evaluation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Editing in progress
  power-platform/admin/TOC.yml
  power-platform/admin/continuous-access-evaluation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md for Business Central
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Review and updates
  power-platform/TOC.yml
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
