Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/developer/media/unified-experience/add-licenses-to-deployable-package.png
  power-platform/developer/media/unified-experience/add-tasks-to-stage-2.png
  power-platform/developer/media/unified-experience/configure-deploy-package-task.png
  power-platform/developer/media/unified-experience/create-build-pipeline.png
  power-platform/developer/media/unified-experience/create-deployable-package.png
  power-platform/developer/media/unified-experience/create-release-pipeline.png
  power-platform/developer/media/unified-experience/locate-published-artifacts.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removing .md files from media/unified-experience
  power-platform/developer/media/unified-experience/deploy-packages.md
  power-platform/developer/media/unified-experience/development-lifecycle.md
  power-platform/developer/media/unified-experience/get-started.md
  power-platform/developer/media/unified-experience/odop-placeholder-2.md
  power-platform/developer/media/unified-experience/odop-placeholder-3.md
  power-platform/developer/media/unified-experience/overview.md
  power-platform/developer/media/unified-experience/place-holder.md
  power-platform/developer/media/unified-experience/write-plug-in.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add overview .md to developer/unified-experience
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating link: articles/fin-ops-core/dev-itpro /dev-tools/hosted-build-automation.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

updating footer !INCLUDE footer
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update deploy-packages.md
  power-platform/developer/unified-experience/deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating TOC, renaming unified experience files
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/unified-exp-deploy-packages.md
  power-platform/developer/unified-experience/unified-exp-development-lifecycle.md
  power-platform/developer/unified-experience/unified-exp-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating docs, TOC
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/unified-exp-deploy-packages.md
  power-platform/developer/unified-experience/unified-exp-write-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

absolute link in unified-exp/deploy-packages.md adding a /get-started.md place holder
  power-platform/developer/unified-experience/unified-exp-deploy-packages.md
Owners: @PHecke, @KumarVivek, @JimDaly

Moved appendix info into main body of document
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update absolute link in deploy-packages.md
  power-platform/developer/unified-experience/unified-exp-get-started.md
Owners: @PHecke, @KumarVivek, @JimDaly

TOC and title updates
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/unified-exp-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update TOC
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

TOC link fixes?
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed title
  power-platform/developer/unified-experience/unified-exp-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

per Vivek: Moving unified-operations directory in TOC renaming unified-exp-: overview to finance-operations-dev-overview.md deploy-packages to finance-operations-deploy-packages.md
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/finance-operations-deploy-packages.md
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Updating titles in TOC
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-innovationbacklog.md
  power-platform/guidance/coe/setup-innovationbacklog.md
Owners: @KumarVivek, @sericks007

Rectifying file paths in TOC
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Update setup-auditlog.md
  power-platform/guidance/coe/setup-auditlog.md
Owners: @KumarVivek, @sericks007

Housekeeping
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update setup-innovationbacklog.md
  power-platform/guidance/coe/setup-innovationbacklog.md
Owners: @KumarVivek, @sericks007

Update setup-innovationbacklog.md
  power-platform/guidance/coe/setup-innovationbacklog.md
Owners: @KumarVivek, @sericks007

Update setup-innovationbacklog.md
  power-platform/guidance/coe/setup-innovationbacklog.md
Owners: @KumarVivek, @sericks007

Update setup-innovationbacklog.md
  power-platform/guidance/coe/setup-innovationbacklog.md
Owners: @KumarVivek, @sericks007

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
