Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update wiki-community.md
  power-platform/guidance/adoption/wiki-community.md
Owners: @KumarVivek, @sericks007

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Goods receipt article is set up
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
Owners: none

New tenant isolation tutorial
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Goods receipt article
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
Owners: none

Acrolinx edits
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
Owners: none

Acrolinx edits
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
Owners: none

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

pac cli update July 2023
  power-platform/developer/TOC.yml
  power-platform/developer/cli/reference/admin.md
  power-platform/developer/cli/reference/application.md
  power-platform/developer/cli/reference/auth.md
  power-platform/developer/cli/reference/canvas.md
  power-platform/developer/cli/reference/catalog.md
  power-platform/developer/cli/reference/connector.md
  power-platform/developer/cli/reference/copilot.md
  power-platform/developer/cli/reference/data.md
  power-platform/developer/cli/reference/help.md
  power-platform/developer/cli/reference/includes/admin-create-service-principal-intro.md
  power-platform/developer/cli/reference/includes/copilot-list-remarks.md
  power-platform/developer/cli/reference/includes/copilot-predict-intro.md
  power-platform/developer/cli/reference/includes/copilot-predict-remarks.md
  power-platform/developer/cli/reference/includes/org-list-settings-intro.md
  power-platform/developer/cli/reference/includes/org-list-settings-remarks.md
  power-platform/developer/cli/reference/includes/org-update-settings-intro.md
  power-platform/developer/cli/reference/includes/org-update-settings-remarks.md
  power-platform/developer/cli/reference/index.md
  power-platform/developer/cli/reference/modelbuilder.md
  power-platform/developer/cli/reference/org.md
  power-platform/developer/cli/reference/package.md
  power-platform/developer/cli/reference/paportal.md
  power-platform/developer/cli/reference/pcf.md
  power-platform/developer/cli/reference/pipeline.md
  power-platform/developer/cli/reference/plugin.md
  power-platform/developer/cli/reference/solution.md
  power-platform/developer/cli/reference/telemetry.md
  power-platform/developer/cli/reference/tool.md
  power-platform/developer/cli/reference/virtual-agent.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update docfx.json
  power-virtual-agents/docfx.json
Owners: @iaanw, @leeclontz, @KumarVivek

Labeler
  .github/workflows/label.yml
Owners: none

Update label.yml
  .github/workflows/label.yml
Owners: none

Create labeler.yml
  .github/labeler.yml
Owners: none

Update label.yml
  .github/workflows/label.yml
Owners: none

Update labeler.yml
  .github/labeler.yml
Owners: none

initial structure/layout
  power-virtual-agents/TOC.yml
  power-virtual-agents/faqs-copilot.md
  power-virtual-agents/faqs-generative-answers.md
  power-virtual-agents/faqs-transparency-note-copilot.md
  power-virtual-agents/includes/faqs-feature.md
  power-virtual-agents/includes/faqs-overview.md
  power-virtual-agents/responsible-ai-overview.md
  power-virtual-agents/transparency-faq.md
Owners: @iaanw, @leeclontz, @KumarVivek

updates
  power-virtual-agents/faqs-copilot.md
  power-virtual-agents/faqs-generative-answers.md
  power-virtual-agents/faqs-transparency-note-copilot.md
  power-virtual-agents/includes/faqs-feature.md
  power-virtual-agents/responsible-ai-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

dd
  power-virtual-agents/faqs-transparency-note-copilotZrem.md
Owners: @iaanw, @leeclontz, @KumarVivek

Create default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/developer-environments-assignment-everyone.png
  power-platform/admin/media/session-details-window.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/default-managed-environment.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/try-new-homepage.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
