Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update programmability-tutorial-manage-tenant-isolation-policy.md
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Review and edits
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

date-changes
  power-platform/important-changes-coming.md
Owners: none

Removing preview from title and bold UI text
  power-platform/alm/copilot-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Removing preview from TOC
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

correctness
  power-platform/important-changes-coming.md
Owners: none

Minor change
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update customize-regional-options-admins.md
  power-platform/admin/customize-regional-options-admins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update download-template-data-import.md
  power-platform/admin/download-template-data-import.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/programmability-tutorial-manage-tenant-isolation-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/programmability-tutorial-create-tenant-isolation-reports.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/programmability-tutorial-create-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/programmability-tutorial-cross-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

modify-mention-of-2019
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

JQuery removal from 9.2, FRE 9.25
  power-platform/important-changes-coming.md
Owners: none

A few more edits
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Minor edits
  power-platform/alm/delegated-deployments-setup.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update and rename nlu-documents to nlu-documents.md
  power-virtual-agents/nlu-documents
  power-virtual-agents/nlu-documents.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-gpt-overview.md
  power-virtual-agents/nlu-gpt-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-documents.md
  power-virtual-agents/nlu-documents.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-documents.md
  power-virtual-agents/nlu-documents.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-gpt-quickstart.md
  power-virtual-agents/nlu-gpt-quickstart.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-generative-answers-azure-openai.md
  power-virtual-agents/nlu-generative-answers-azure-openai.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-documents.md
  power-virtual-agents/nlu-documents.md
Owners: @iaanw, @leeclontz, @KumarVivek

Minor edits
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update TOC.yml
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-documents.md
  power-virtual-agents/nlu-documents.md
Owners: @iaanw, @leeclontz, @KumarVivek

rename images
  power-virtual-agents/media/nlu-gpt/nlu-document-download.png
  power-virtual-agents/media/nlu-gpt/nlu-document-upload.png
Owners: @iaanw, @leeclontz, @KumarVivek

acrolinx changes
  power-platform/important-changes-coming.md
Owners: none

Review and edits
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Minor edits
  power-platform/alm/delegated-deployments-setup.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Minor change
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
