Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Add files via upload
  power-platform/developer/media/unified-experience/D365FinOpsAsetsDownloaded.png
  power-platform/developer/media/unified-experience/D365FinOpsAsetsUnblock.png
  power-platform/developer/media/unified-experience/D365FinOpsConfigureMetadata.png
  power-platform/developer/media/unified-experience/D365FinOpsConfigureMetadataMenu.png
  power-platform/developer/media/unified-experience/D365FinOpsConfigureMetadataValidation.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update image references
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update devops-build-tools.md
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/developer/media/unified-experience/D365FinOpsToolsOptions.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update with tools options
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update instructions on settings.
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix Note formatting
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Organization Service > SDK for .NET
  power-platform/admin/manage-dataverse-auditing.md
  power-platform/admin/remove-user-personal-data.md
  power-platform/admin/wp-security-cds.md
  power-platform/alm/create-patches-simplify-solution-updates.md
  power-platform/alm/solution-async.md
  power-platform/important-changes-coming.md
Owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @Mattp123

Formatting Note
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

include backup location in Note
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update devops-github-available-actions.md
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update devops-github-available-actions.md
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update types.md
  power-platform/admin/power-automate-licensing/types.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/developer/media/unified-experience/D365FinOpsDeployDialog.png
  power-platform/developer/media/unified-experience/D365FinOpsFullBuildDeployOptions.png
  power-platform/developer/media/unified-experience/D365FinOpsIncrementalBuildDeployOptions.png
  power-platform/developer/media/unified-experience/D365FinOpsRightClickDeploy.png
Owners: @PHecke, @KumarVivek, @JimDaly

My review edits
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update Debug and deploy
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Moved content
  power-platform/alm/devops-github-available-actions.md
Owners: @PHecke, @KumarVivek, @Mattp123

Format Deployment notes
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added new content
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Formatting improvements
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Grammar change
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

More formatting
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Observability
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removed new FAQ content
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding back in the dev environment FAQ
  power-platform/developer/plan.md
Owners: @PHecke, @KumarVivek, @JimDaly

add a screenshot for DeployDialog
  power-platform/developer/unified-experience/finance-operations-debug.md
Owners: @PHecke, @KumarVivek, @JimDaly
