Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

A&R
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/hr/awards-and-recognition/customize.md
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
  power-platform/solution-templates/hr/employee-kudos/install.md
  power-platform/solution-templates/hr/employee-kudos/overview.md
Owners: none

Update detailslist.md
  power-platform/guidance/creator-kit/detailslist.md
Owners: @KumarVivek, @sericks007

Add per-process capacity type
  power-platform/developer/reference/licensing/licensing.json
Owners: @PHecke, @KumarVivek, @JimDaly

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

videos
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/overview.md
Owners: none

Add files via upload
  power-platform/alm/media/Create-SPN-help.PNG
  power-platform/alm/media/Create-SPN.PNG
Owners: @PHecke, @KumarVivek, @Mattp123

Update devops-build-tools.md
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update modify-components.md
  power-platform/guidance/coe/modify-components.md
Owners: @KumarVivek, @sericks007

Update power-bi-compliance.md
  power-platform/guidance/coe/power-bi-compliance.md
Owners: @KumarVivek, @sericks007

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

edits
  power-platform/alm/devops-build-tools.md
  power-platform/alm/media/Create-SPN-help.PNG
  power-platform/alm/media/Create-SPN.PNG
Owners: @PHecke, @KumarVivek, @Mattp123

acrolinx
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

add examples to reference
  power-platform/alm/devops-build-tools.md
  power-platform/developer/cli/reference/includes/admin-create-service-principal-intro.md
  power-platform/developer/cli/reference/includes/admin-create-service-principal-remarks.md
Owners: @PHecke, @KumarVivek, @Mattp123, @JimDaly

remove empty line
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-monitor.md
  power-platform/guidance/coe/power-bi-monitor.md
Owners: @KumarVivek, @sericks007

Update power-bi-nurture.md
  power-platform/guidance/coe/power-bi-nurture.md
Owners: @KumarVivek, @sericks007

Update power-bi-nurture.md
  power-platform/guidance/coe/power-bi-nurture.md
Owners: @KumarVivek, @sericks007

Update power-bi.md
  power-platform/guidance/coe/power-bi.md
Owners: @KumarVivek, @sericks007

Update setup-auditlog-http.md
  power-platform/guidance/coe/setup-auditlog-http.md
Owners: @KumarVivek, @sericks007

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Update setup-powerbi.md
  power-platform/guidance/coe/setup-powerbi.md
Owners: @KumarVivek, @sericks007

Update devops-build-tools.md
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update setup.md
  power-platform/guidance/coe/setup.md
Owners: @KumarVivek, @sericks007

Update theming-components.md
  power-platform/guidance/coe/theming-components.md
Owners: @KumarVivek, @sericks007

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
