Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Editing in progress
  power-platform/admin/TOC.yml
  power-platform/admin/continuous-access-evaluation.md
  power-platform/admin/ip-firewall.md
  power-platform/admin/settings-privacy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Adding screenshots
  power-platform/admin/media/Step1_AppInsights.png
  power-platform/admin/media/Step2_AppInsights.png
  power-platform/admin/media/Step2b_appinsights.png
  power-platform/admin/media/Step3_AppInsights.png
  power-platform/admin/media/Step4_AppInsights.png
  power-platform/admin/media/Step5_AppInsights.png
  power-platform/admin/media/Step5a_AppInsights.png
  power-platform/admin/media/Step6_AppInsights.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

add CI link
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

SCM Copilot for Procurement link
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add label
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pricing-billing-skus.md
  power-platform/admin/pricing-billing-skus.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pricing-billing-skus.md
  power-platform/admin/pricing-billing-skus.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update configure-relevance-search-organization.md
  power-platform/admin/configure-relevance-search-organization.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update configure-relevance-search-organization.md
  power-platform/admin/configure-relevance-search-organization.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update configure-relevance-search-organization.md
  power-platform/admin/configure-relevance-search-organization.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

updates and edits
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
Owners: none

AIB-Pauto-links
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update documentation on set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

100 seconds, not 2 minutes
  power-virtual-agents/error-codes.md
Owners: @iaanw, @leeclontz, @KumarVivek

100 sec, not 2 min
  power-virtual-agents/includes/flow-requirements.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update to fix open issues
  power-platform/guidance/coe/setup-core-components.md
  power-platform/guidance/coe/theming-components.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update types.md
  power-platform/admin/power-automate-licensing/types.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

process license screenshot
  power-platform/admin/media/power-automate-licensing/assign-process-license-environment.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
