Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update how-managed-solutions-merged.md
  power-platform/alm/how-managed-solutions-merged.md
Owners: @PHecke, @KumarVivek, @Mattp123

Initial draft
  power-platform/admin/powerapps-powershell.md
  power-platform/admin/prevent-data-loss.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/prevent-data-loss.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added Dynamics telemetry endpoints
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Removed Europe for D365 Sales
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates to URL info
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revised for style and ms.date
  power-platform/alm/how-managed-solutions-merged.md
Owners: @PHecke, @KumarVivek, @Mattp123

Added info about mda-telemetry URL
  power-platform/admin/powerapps-us-government.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-group-teams.md
  power-platform/admin/manage-group-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  power-platform/flow/stub.md
Owners: none

Revised for style, ms.date, and Acrolinx
  power-platform/admin/manage-group-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Due to lack of validation in some repos, bad ms.topic values have been added to content. This is to remove invalid values and replace with valid ms.topic values.
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/payment-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
Owners: none

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update general-availability-deployment.md
  power-platform/admin/general-availability-deployment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-teams.md
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-powershell.md
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update prevent-data-loss.md
  power-platform/admin/prevent-data-loss.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor changes
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-powershell.md
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update prevent-data-loss.md
  power-platform/admin/prevent-data-loss.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Edits, and added link
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Add files via upload
  power-platform/alm/media/three-gated-extensions.png
Owners: @PHecke, @KumarVivek, @Mattp123

Added Dynamics telemetry endpoints
  power-platform/admin/about-microsoft-cloud-china.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update microsoft-dynamics-365-government.md
  power-platform/admin/microsoft-dynamics-365-government.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update powerapps-powershell.md
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update general-availability-deployment.md
  power-platform/admin/general-availability-deployment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update opt-in-early-access-updates.md
  power-platform/admin/opt-in-early-access-updates.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-teams.md
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
