Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Updating redirection for: data-integration-gdpr-dsr-guide.md -> data-integration-privacy-dsr-guide.md
  .openpublishing.redirection.json
Owners: none

Update reset-environment.md
  power-platform/admin/reset-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-collaboration.md
  power-platform/admin/settings-collaboration.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

new note
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

alerts
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/power-fx/TOC.yml
Owners: @tapanm-msft, @KumarVivek, @mduelae

neetu-10/9 V1
  power-virtual-agents/guidance/project-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-10/9 v2
  power-virtual-agents/guidance/project-building-a-team.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update formula-reference.md
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/TOC.yml
  power-platform/power-fx/formula-reference-dataverse.md
  power-platform/power-fx/formula-reference-overview.md
  power-platform/power-fx/formula-reference-power-apps.md
  power-platform/power-fx/formula-reference-pva.md
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/TOC.yml
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/reference/object-host.md
  power-platform/power-fx/reference/signals.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Removing preview from sso doc
  power-virtual-agents/configure-sso.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update AIB credit default value
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-collaboration.md
  power-platform/admin/settings-collaboration.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-collaboration.md
  power-platform/admin/settings-collaboration.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update about-lockbox.md
  power-platform/admin/about-lockbox.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update about-lockbox.md
  power-platform/admin/about-lockbox.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create analytics namespace
  power-platform/developer/reference/analytics/analytics.json
Owners: @PHecke, @KumarVivek, @JimDaly

Update list-tenantsettings.md
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor edit
  power-platform/developer/reference/analytics/analytics.json
Owners: @PHecke, @KumarVivek, @JimDaly

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-settings.md
  power-platform/admin/tenant-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/Tenant-Capacity-Summary-Setting.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Delete power-platform/admin/Tenant-Capacity-Summary-Setting.png
  power-platform/admin/Tenant-Capacity-Summary-Setting.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/Tenant-Capacity-Summary-Setting.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/Tenant-Capacity-Summary-Setting.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/guidance/TOC.yml
Owners: @KumarVivek, @sericks007

Fleshing out TOC
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/experience-excellence/checklist.md
  power-platform/well-architected/experience-excellence/design-patterns.md
  power-platform/well-architected/experience-excellence/index.yml
  power-platform/well-architected/experience-excellence/principles.md
  power-platform/well-architected/experience-excellence/tradeoffs.md
  power-platform/well-architected/operational-excellence/checklist.md
  power-platform/well-architected/operational-excellence/design-patterns.md
  power-platform/well-architected/operational-excellence/index.yml
  power-platform/well-architected/operational-excellence/principles.md
  power-platform/well-architected/operational-excellence/tradeoffs.md
  power-platform/well-architected/performance-efficiency/checklist.md
  power-platform/well-architected/performance-efficiency/design-patterns.md
  power-platform/well-architected/performance-efficiency/index.yml
  power-platform/well-architected/performance-efficiency/principles.md
  power-platform/well-architected/performance-efficiency/tradeoffs.md
  power-platform/well-architected/reliability/checklist.md
  power-platform/well-architected/reliability/design-patterns.md
  power-platform/well-architected/reliability/index.yml
  power-platform/well-architected/reliability/principles.md
  power-platform/well-architected/reliability/tradeoffs.md
  power-platform/well-architected/security/checklist.md
  power-platform/well-architected/security/design-patterns.md
  power-platform/well-architected/security/index.yml
  power-platform/well-architected/security/principles.md
  power-platform/well-architected/security/tradeoffs.md
Owners: none

Stubbing out IA
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/overview.md
  power-platform/well-architected/pillars.md
Owners: none

Update TOC.yml
  power-platform/well-architected/TOC.yml
Owners: none

Revised to add FCB per 3601359
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft
