Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update setup-auditlog-http.md
  power-platform/guidance/coe/setup-auditlog-http.md
Owners: @KumarVivek, @sericks007

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Update setup-governance-components.md
  power-platform/guidance/coe/setup-governance-components.md
Owners: @KumarVivek, @sericks007

Update setup-nurture-components.md
  power-platform/guidance/coe/setup-nurture-components.md
Owners: @KumarVivek, @sericks007

Update setup-teams-components.md
  power-platform/guidance/coe/setup-teams-components.md
Owners: @KumarVivek, @sericks007

Update starter-kit-explained.md
  power-platform/guidance/coe/starter-kit-explained.md
Owners: @KumarVivek, @sericks007

Update teams-governance.md
  power-platform/guidance/coe/teams-governance.md
Owners: @KumarVivek, @sericks007

Update teams-governance.md
  power-platform/guidance/coe/teams-governance.md
Owners: @KumarVivek, @sericks007

Updates per feedback from Vivek
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/developer/media/unified-experience/pipelines-locate-artifacts2.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update of pipelines-update-artifact.png
  power-platform/developer/media/unified-experience/pipelines-locate-artifacts.png
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Renaming image, related link
  power-platform/developer/media/unified-experience/pipelines-locate-artifacts.png
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update logging-powerapps.md
  power-platform/admin/logging-powerapps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update build-custom-reports.md
  power-platform/admin/build-custom-reports.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analyze-telemetry.md
  power-platform/admin/analyze-telemetry.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update dlp-activity-logging.md
  power-platform/admin/dlp-activity-logging.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-analytics-reports.md
  power-platform/admin/powerapps-analytics-reports.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update power-automate-analytics-reports.md
  power-platform/admin/power-automate-analytics-reports.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update telemetry-events-dataverse.md
  power-platform/admin/telemetry-events-dataverse.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update telemetry-events-model-driven-apps.md
  power-platform/admin/telemetry-events-model-driven-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update overview-integration-application-insights.md
  power-platform/admin/overview-integration-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update enable-use-comprehensive-auditing.md
  power-platform/admin/enable-use-comprehensive-auditing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-common-data-service.md
  power-platform/admin/analytics-common-data-service.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update telemetry-events-model-driven-apps.md
  power-platform/admin/telemetry-events-model-driven-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

14592: Making updates related to privacy terminology
  power-platform/admin/enable-use-comprehensive-auditing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix solution checker enforcement email statement
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update example-processes.md
  power-platform/guidance/coe/example-processes.md
Owners: @KumarVivek, @sericks007

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007
