Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Updates
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates to tutorial
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/admin/unified-experience/media/tutorial-new-environment1.png
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Replacing animated GIF with static PNG
  power-platform/alm/copilot-deployment-notes-pipelines.md
  power-platform/alm/media/pipeline-AI-deployment-notes.gif
  power-platform/alm/media/pipeline-AI-deployment-notes.png
Owners: @PHecke, @KumarVivek, @Mattp123

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/TOC.yml
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Updates
  power-platform/alm/responsible-AI-overview.md
Owners: @PHecke, @KumarVivek, @Mattp123

Adding in resp AI node to ALM TOC
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Adding in resp AI node to ALM TOC
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Adding link to deployment notes copilot article
  power-platform/responsible-ai-overview.md
Owners: none

Adding resp AI node
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Adding expandability
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Fixing autofill yaml issue
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Review
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Review
  power-platform/admin/power-automate-licensing/types.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/power-automate-licensing/types.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create Azure OpenAI on your data
  power-virtual-agents/Azure OpenAI on your data
Owners: @iaanw, @leeclontz, @KumarVivek

Rename Azure OpenAI on your data to Azure-OpenAI-on-your-data.md
  power-virtual-agents/Azure-OpenAI-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update and rename Azure-OpenAI-on-your-data.md to azure-openAI-on-your-data.md
  power-virtual-agents/azure-openAI-on-your-data.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update core-components.md
  power-platform/guidance/coe/core-components.md
Owners: @KumarVivek, @sericks007

Update core-components.md
  power-platform/guidance/coe/core-components.md
Owners: @KumarVivek, @sericks007

Update faq.md
  power-platform/guidance/coe/faq.md
Owners: @KumarVivek, @sericks007

Update add-ons.md
  power-platform/admin/power-automate-licensing/add-ons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

New tutorial for allocation of add-ons
  power-platform/admin/TOC.yml
  power-platform/admin/media/tutorial-allocate-addons1.png
  power-platform/admin/media/tutorial-allocate-addons2.png
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

fix-alt-text
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

linx-fix
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conn-ref-env-variables-build-tools.md
  power-platform/alm/conn-ref-env-variables-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update conn-ref-env-variables-build-tools.md
  power-platform/alm/conn-ref-env-variables-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update dlp-connector-classification.md
  power-platform/admin/dlp-connector-classification.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates for allocation at scale tutorial
  power-platform/admin/capacity-add-on.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-allocate-capacity-addons.md
  power-platform/admin/programmability-tutorial-allocate-capacity-addons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-add-on.md
  power-platform/admin/capacity-add-on.md
Owners: @KumarVivek, @sericks007, @tapanm-msft
