Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update power-virtual-agents/nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Editorial updates per Acrolinx feedbak
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added topic
  power-platform/developer/unified-experience/more-details.md
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Renamed topic titles
  power-platform/developer/unified-experience/more-details.md
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update migrating-from-default-environment.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Create view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update index.yml
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/known-issue-at-top.png
  power-platform/admin/media/still-need-help.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/known-issue-at-top.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/guidance/TOC.yml
Owners: @KumarVivek, @sericks007

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updated intro
  power-platform/guidance/white-papers/application-modernization.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update application-modernization.md
  power-platform/guidance/white-papers/application-modernization.md
Owners: @KumarVivek, @sericks007

Fixing spelling errors
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update migrating-from-default-environment.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update migrating-from-default-environment.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update TOC.yml
  power-platform/guidance/TOC.yml
Owners: @KumarVivek, @sericks007

Updated intro and metadata
  power-platform/guidance/white-papers/application-modernization.md
  power-platform/guidance/white-papers/index.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Minor changes
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Latest updates based on feedback
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Tweaks
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Tweaks
  power-platform/admin/tenant-settings.md
  power-platform/faqs-copilot-data-sharing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

More tweaks
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added tool article placeholder
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/deploy-packages.md
  power-platform/developer/unified-experience/install-config-tools.md
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

More changes, new content
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/debug.md
  power-platform/developer/unified-experience/deploy-packages.md
  power-platform/developer/unified-experience/install-config-tools.md
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

More content
  power-platform/developer/unified-experience/debug.md
  power-platform/developer/unified-experience/install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Typos
  power-platform/guidance/white-papers/index.md
Owners: @KumarVivek, @sericks007
