Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update add-users-to-environment.md
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update add-users-to-environment.md
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/allow-data-movement.png
  power-platform/admin/media/terms-of-use.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/media/nlu-gpt/generative-answers-bing-custom.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update faqs-copilot.md
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update auth.md
  power-platform/developer/cli/reference/auth.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update faqs-copilot.md
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update faqs-copilot.md
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs-copilot.md
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/developer/cli/media/installation-success-3-v2.PNG
  power-platform/developer/cli/media/marketplace-install-v2.PNG
  power-platform/developer/cli/media/power-platform-vs-code-extension-install-v2.png
  power-platform/developer/cli/media/side-load-install-1-v2.png
Owners: @PHecke, @KumarVivek, @JimDaly

Document soft-deleted environments in DLP policies as a known issue
  power-platform/admin/dlp-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update introduction.md
  power-platform/developer/cli/introduction.md
Owners: @PHecke, @KumarVivek, @JimDaly

New "use" articles and updates
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/hr/awards-and-recognition/customize.md
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
Owners: none

Update introduction.md
  power-platform/developer/cli/introduction.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/developer/cli/media/installation-success-2-v2.PNG
Owners: @PHecke, @KumarVivek, @JimDaly

Update auth-create-remarks.md
  power-platform/developer/cli/reference/includes/auth-create-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly
