Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Editing code offsets for cross reference step 4
  power-platform/developer/unified-experience/faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

update for UI v data source permissions
  power-platform/admin/security/connect-data-sources.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

updates to configure security
  power-platform/solution-templates/finance/sap-procurement/administer/configure-security-groups.md
Owners: none

updates
  power-platform/solution-templates/finance/sap-procurement/administer/configure-environment-variables.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-security-groups.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-canvas-apps.md
  power-platform/solution-templates/finance/sap-procurement/administer/get-started.md
  power-platform/solution-templates/finance/sap-procurement/administer/install.md
  power-platform/solution-templates/finance/sap-procurement/administer/media/configure-environment-variables/sap-env-var-conn-strings.png
  power-platform/solution-templates/finance/sap-procurement/administer/media/set-up-environments-data-policies/enable-managed-env.png
  power-platform/solution-templates/finance/sap-procurement/administer/monitor-errors.md
  power-platform/solution-templates/finance/sap-procurement/administer/requirements.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-connections.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-environments-data-policies.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-gateway.md
  power-platform/solution-templates/finance/sap-procurement/media/overview/sap-base-building-blocks.png
  power-platform/solution-templates/finance/sap-procurement/media/overview/sap-po-app-overview.png
  power-platform/solution-templates/finance/sap-procurement/media/overview/sap-procurement-template-icon.png
  power-platform/solution-templates/finance/sap-procurement/overview.md
  power-platform/solution-templates/overview.md
Owners: none

Updated article metadata
  power-platform/developer/unified-experience/cicd-pipeline.md
  power-platform/developer/unified-experience/copy-to-ode.md
  power-platform/developer/unified-experience/debug.md
  power-platform/developer/unified-experience/deploy-packages.md
  power-platform/developer/unified-experience/faq.md
  power-platform/developer/unified-experience/install-config-tools.md
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed build errors
  power-platform/developer/unified-experience/install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed TOC
  power-platform/TOC.yml
Owners: none

Removed incomplete articles
  power-platform/developer/unified-experience/cicd-pipeline.md
  power-platform/developer/unified-experience/more-details.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updates to admin docs
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Admin Trials page
  power-platform/admin/TOC.yml
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update connect-data-sources.md
  power-platform/admin/security/connect-data-sources.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update connect-data-sources.md
  power-platform/admin/security/connect-data-sources.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-apps-overview.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

updated images
  power-platform/solution-templates/finance/sap-procurement/administer/apply-seed-data.md
  power-platform/solution-templates/finance/sap-procurement/administer/media/apply-seed-data/sap-admin-list-values.png
  power-platform/solution-templates/finance/sap-procurement/administer/media/apply-seed-data/sap-base-list-of-values.png
  power-platform/solution-templates/finance/sap-procurement/administer/media/apply-seed-data/sap-base-list-values.png
  power-platform/solution-templates/finance/sap-procurement/administer/media/apply-seed-data/sap-base-localizations.png
Owners: none

Update finance-operations-apps-overview.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-apps-overview.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-apps-overview.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-trials.md
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Removing: copy-to-ode.md (and related links - only TOC found)
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps.png
  power-platform/admin/unified-experience/media/copy-to-ode-platform-tools.png
  power-platform/admin/unified-experience/media/copy-to-ode-view-apps.png
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly

Removing image files for copy-to-ode (also removed)
  power-platform/developer/media/unified-experience/copy-to-ode-copy-environment.png
  power-platform/developer/media/unified-experience/copy-to-ode-copy-progress2.png
  power-platform/developer/media/unified-experience/copy-to-ode-install-apps.png
  power-platform/developer/media/unified-experience/copy-to-ode-platform-tools.png
  power-platform/developer/media/unified-experience/copy-to-ode-view-apps.png
Owners: @PHecke, @KumarVivek, @JimDaly

Removed contraction
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

renamed files
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-deploy-packages.md
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
  power-platform/developer/unified-experience/finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed broken llnks
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
  power-platform/developer/unified-experience/finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

More broken links
  power-platform/developer/unified-experience/finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Incorp feedback
  power-platform/developer/unified-experience/finance-operations-deploy-packages.md
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
  power-platform/developer/unified-experience/finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Incorp feedback
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Article review
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Acrolinx corrections
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-deploy-packages.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update admin-trials.md
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

ken-edits
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
