Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Updating TOC to match file name changes
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Review and updates
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Review
  power-platform/important-changes-coming.md
Owners: none

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-powershell.md
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update prevent-data-loss.md
  power-platform/admin/prevent-data-loss.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revert "Update add-users-to-environment.md"
  power-platform/admin/add-users-to-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update email-message-filtering-correlation.md
  power-platform/admin/email-message-filtering-correlation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/email-message-filtering-correlation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-authoring.md
  power-virtual-agents/nlu-authoring.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update nlu-boost-conversations.md
  power-virtual-agents/nlu-boost-conversations.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update managed-environment-overview.md
  power-platform/admin/managed-environment-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update detailslist.md
  power-platform/guidance/creator-kit/detailslist.md
Owners: @KumarVivek, @sericks007

Update nlu-generative-answers-sharepoint-onedrive.md
  power-virtual-agents/nlu-generative-answers-sharepoint-onedrive.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updating per review feedback
  power-platform/admin/powerapps-privacy-export-dsr.md
  power-platform/admin/wp-compliance-data-privacy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating to remove "gdpr" from titles, links replace with "privacy"
  power-platform/admin/TOC.yml
  power-platform/admin/powerapps-privacy-delete-dsr.md
  power-platform/admin/powerapps-privacy-dsr-guide-systemlogs.md
  power-platform/admin/powerapps-privacy-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

link updating
  power-platform/admin/powerapps-privacy-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates to remove "gdpr" language, replace with "privacy"
  power-platform/admin/powerapps-privacy-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Removing gdpr references
  power-platform/admin/powerapps-privacy-dsr-guide-systemlogs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates per Acrolinx
  power-platform/admin/powerapps-privacy-dsr-guide-systemlogs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fixed link
  power-platform/admin/miscellaneous-privileges.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update with new tenant level spl license
  power-platform/admin/pricing-billing-skus.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Initial draft
  power-platform/admin/TOC.yml
  power-platform/admin/admin-activity-logging.md
  power-platform/admin/media/admin-activity-logging/audit-search.png
  power-platform/admin/media/admin-activity-logging/filter-record-types.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/admin-activity-logging.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/admin-activity-logging.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

New how-to
  power-platform/developer/cli-create-package.md
  power-platform/developer/devtools-vs-create-project.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added images
  power-platform/developer/cli-create-package.md
  power-platform/developer/media/tools/prt-display-by-package-view.png
  power-platform/developer/media/tools/prt-import-new-plugin-package-dialog.png
  power-platform/developer/media/tools/prt-new-plug-in package-view.png
  power-platform/developer/media/tools/prt-pluginpackage-unregister-command.png
  power-platform/developer/media/tools/prt-pluginpackage-update-command.png
  power-platform/developer/media/tools/prt-register-new-package-command.png
  power-platform/developer/media/tools/prt-show-pluginpackage-assembly-display-by-assembly-view.png
  power-platform/developer/media/tools/prt-update-pluginpackage-dialog.png
Owners: @PHecke, @KumarVivek, @JimDaly
