Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update content-security-policy.md
  power-platform/admin/content-security-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

neetu10/10 V1
  power-virtual-agents/guidance/project-best-practices.md
  power-virtual-agents/guidance/project-building-a-team.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-10/10-V2
  power-virtual-agents/guidance/TOC.yml
  power-virtual-agents/guidance/index.yml
  power-virtual-agents/guidance/project-building-a-team.md
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu 10/10-V3
  power-virtual-agents/guidance/project-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

neetu10/10-v4
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

neetu-10/10 v5
  power-virtual-agents/guidance/media/topics/ProjectWorkstreams.png
  power-virtual-agents/guidance/media/topics/Project_Planning.png
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-settings.md
  power-platform/admin/tenant-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update content-security-policy.md
  power-platform/admin/content-security-policy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added icons to overview
  power-platform/solution-templates/finance/sap-procurement/overview.md
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/payment-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/media/overview/awards-req-icon-sq.png
  power-platform/solution-templates/media/overview/kudos-icon-sq.png
  power-platform/solution-templates/media/overview/onboard-buddy-icon-sq.png
  power-platform/solution-templates/media/overview/sap-procure-icon-sq.png
  power-platform/solution-templates/overview.md
Owners: none

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Acrolinx updates for OB Customizations
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
Owners: none

Update cross-tenant-restrictions.md
  power-platform/admin/cross-tenant-restrictions.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update backup-restore-environments.md
  power-platform/admin/backup-restore-environments.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Generative AI updates
  power-platform/admin/geographical-availability-copilot.md
  power-platform/admin/media/allow-data-movement.png
  power-platform/admin/media/terms-of-use.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

new-faq-and-screenshot
  power-platform/admin/media/faqs/many-flows-one-machine.png
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

re-size
  power-platform/admin/media/faqs/many-flows-one-machine.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update cross-tenant-restrictions.md
  power-platform/admin/cross-tenant-restrictions.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update backup-restore-environments.md
  power-platform/admin/backup-restore-environments.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update backup-restore-environments.md
  power-platform/admin/backup-restore-environments.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revising for consistency and reduce liklihood of broken bookmark links
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-cross-tenant-reporting.md
  power-platform/admin/programmability-tutorial-cross-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/ai- not-allowed.svg
  power-platform/admin/media/generative-ai-pane.svg
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/ai-not-allowed.svg
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Adding behavior settings FCB and revised for style and clarity
  power-platform/admin/settings-behavior.md
  power-platform/important-changes-coming.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Adding behavior settings FCB and revised for style and clarity
  power-platform/important-changes-coming.md
Owners: none

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Delete power-platform/admin/media/ai- not-allowed.svg
  power-platform/admin/media/ai- not-allowed.svg
Owners: @KumarVivek, @sericks007, @tapanm-msft

Delete power-platform/admin/media/generative-ai-pane.svg
  power-platform/admin/media/generative-ai-pane.svg
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fixing bookmark and link title to remove preview
  power-platform/admin/settings-behavior.md
  power-platform/important-changes-coming.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

check
  power-platform/important-changes-coming.md
Owners: none

Multilingual bot documentation 1st draft
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

add line break
  power-platform/important-changes-coming.md
Owners: none

line breaks
  power-platform/important-changes-coming.md
Owners: none

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
