Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

moved to
  power-platform/important-changes-coming.md
Owners: none

userSettings
  power-platform/important-changes-coming.md
Owners: none

final changes
  power-platform/important-changes-coming.md
Owners: none

Added solution update workaround
  power-platform/alm/plugin-component.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update plugin-component.md
  power-platform/alm/plugin-component.md
Owners: @PHecke, @KumarVivek, @Mattp123

Added link
  power-platform/alm/plugin-component.md
Owners: @PHecke, @KumarVivek, @Mattp123

Formatting change
  power-platform/alm/plugin-component.md
Owners: @PHecke, @KumarVivek, @Mattp123

Continuing initial draft
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Creating media folder for multilingual bots
  power-virtual-agents/media/multilingual-bot/.gitkeep
Owners: @iaanw, @leeclontz, @KumarVivek

Uploading image files
  power-virtual-agents/media/multilingual-bot/Configuration-1.png
  power-virtual-agents/media/multilingual-bot/Configuration-2.png
  power-virtual-agents/media/multilingual-bot/Configuration-3.png
  power-virtual-agents/media/multilingual-bot/Configuration-4.png
  power-virtual-agents/media/multilingual-bot/Test-1.png
  power-virtual-agents/media/multilingual-bot/Test-2.png
  power-virtual-agents/media/multilingual-bot/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Fixing dupe alt text
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Deleting dupe md file in media folder
  power-virtual-agents/media/multilingual-bot/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Fixing image attribute
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Removing double quotes from alt text
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Uploading authoring multi lingual bot image
  power-virtual-agents/media/multilingual-bot/Authoring-1.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update analytics-sessions-transcripts.md
  power-virtual-agents/analytics-sessions-transcripts.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update programmability-tutorial-cross-tenant-reporting.md
  power-platform/admin/programmability-tutorial-cross-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-cross-tenant-reporting.md
  power-platform/admin/programmability-tutorial-cross-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update programmability-tutorial-cross-tenant-reporting.md
  power-platform/admin/programmability-tutorial-cross-tenant-reporting.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Delete power-platform/admin/media/Tenant-Capacity-Summary-Setting.png
  power-platform/admin/media/Tenant-Capacity-Summary-Setting.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update backup-restore-environments.md
  power-platform/admin/backup-restore-environments.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added IP addresses whitelisting pre-requisite check
  power-platform/admin/connect-exchange-server-on-premises.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Typos
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Adding multilingual bot doc to TOC
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Adding multilingual bot to related docs on languages
  power-virtual-agents/authoring-language-support.md
Owners: @iaanw, @leeclontz, @KumarVivek

Acrolinx suggestions
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

image updates
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/media/customize/ob-signup-welcome.png
Owners: none

Update backup-restore-environments.md
  power-platform/admin/backup-restore-environments.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Delete power-platform/admin/media/allow-data-movement.png
  power-platform/admin/media/allow-data-movement.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update analytics-sessions-transcripts.md
  power-virtual-agents/analytics-sessions-transcripts.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update project-planning.md
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update project-planning.md
  power-virtual-agents/guidance/project-planning.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update connect-exchange-server-on-premises.md
  power-platform/admin/connect-exchange-server-on-premises.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update connect-exchange-server-on-premises.md
  power-platform/admin/connect-exchange-server-on-premises.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
