Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update auth-create-remarks.md
  power-platform/developer/cli/reference/includes/auth-create-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create link-records-Outlook-web.md
  power-platform/admin/link-records-Outlook-web.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update link-records-Outlook-web.md
  power-platform/admin/link-records-Outlook-web.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

IT Hardware TOC and folder structure
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/it/hardware-request-and-management/install-and-configure.md
  power-platform/solution-templates/it/hardware-request-and-management/manage.md
  power-platform/solution-templates/it/hardware-request-and-management/overview.md
  power-platform/solution-templates/it/hardware-request-and-management/use.md
Owners: none

Update link-records-Outlook-web.md
  power-platform/admin/link-records-Outlook-web.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Initialize Docs repository: https://github.com/MicrosoftDocs/power-platform-pr of branch live
  .openpublishing.publish.config.json
  SECURITY.md
  project-sophia/docfx.json
Owners: none

Initialize Docs repository: https://github.com/MicrosoftDocs/power-platform-pr of branch main
  .openpublishing.publish.config.json
  SECURITY.md
  project-sophia/TOC.yml
  project-sophia/breadcrumb/toc.yml
  project-sophia/docfx.json
  project-sophia/index.md
Owners: none

check
  power-platform/power-fx/TOC.yml
  power-platform/power-fx/formula-reference-pac-cli.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

update
  .openpublishing.publish.config.json
  project-sophia/index.md
  ps-docs/TOC.yml
  ps-docs/breadcrumb/toc.yml
  ps-docs/docfx.json
  ps-docs/index.md
Owners: none

update
  project-sophia/docfx.json
Owners: none

update (#7160)
  .openpublishing.publish.config.json
  ps-docs/TOC.yml
  ps-docs/breadcrumb/toc.yml
  ps-docs/docfx.json
  ps-docs/index.md
Owners: none

Update link-records-Outlook-web.md
  power-platform/admin/link-records-Outlook-web.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/adventure-works-link.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  .openpublishing.publish.config.json
  SECURITY.md
  ps-docs/TOC.yml
  ps-docs/breadcrumb/toc.yml
  ps-docs/docfx.json
  ps-docs/index.md
Owners: none

Update link-records-Outlook-web.md
  power-platform/admin/link-records-Outlook-web.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  .openpublishing.publish.config.json
  SECURITY.md
  ps-docs/TOC.yml
  ps-docs/breadcrumb/toc.yml
  ps-docs/docfx.json
  ps-docs/index.md
Owners: none

Update
  .openpublishing.publish.config.json
  SECURITY.md
  ps-docs/TOC.yml
  ps-docs/breadcrumb/toc.yml
  ps-docs/docfx.json
  ps-docs/index.md
Owners: none

Update
  .openpublishing.publish.config.json
  SECURITY.md
  ps-docs/TOC.yml
  ps-docs/breadcrumb/toc.yml
  ps-docs/docfx.json
  ps-docs/index.md
Owners: none

Revert "Revert "GA of solution checker enforcement""
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revert "Revert "Update TOC.yml""
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revert "Revert "Minor update""
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Create overview.md
  ps-docs/overview.md
Owners: none

Update overview.md
  ps-docs/overview.md
Owners: none

Update configuration-authentication-azure-ad.md
  power-virtual-agents/configuration-authentication-azure-ad.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update overview.md
  ps-docs/overview.md
Owners: none

Create test.png
  ps-docs/media/test.png
Owners: none

Add files via upload
  ps-docs/media/ps-main-screen.png
Owners: none

Delete ps-docs/media/ps-main-screen.png
  ps-docs/media/ps-main-screen.png
Owners: none

Add files via upload
  ps-docs/media/ps-main-screen.png
Owners: none

Update overview.md
  ps-docs/overview.md
Owners: none

add new articles
  power-platform/power-fx/TOC.yml
  power-platform/power-fx/reference/function-datetime.md
  power-platform/power-fx/reference/function-dec2hex-hex2dec.md
  power-platform/power-fx/reference/function-decimal.md
  power-platform/power-fx/reference/function-edate.md
  power-platform/power-fx/reference/function-eomonth.md
  power-platform/power-fx/reference/function-float.md
  power-platform/power-fx/reference/function-help.md
  power-platform/power-fx/reference/function-optionsetinfo.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update overview.md
  ps-docs/overview.md
Owners: none

fix broken link
  power-platform/power-fx/reference/function-parsejson.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
