Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

updates for july release
  power-platform/guidance/coe/core-components.md
  power-platform/guidance/coe/setup-auditlog-http.md
  power-platform/guidance/coe/setup-core-components.md
  power-platform/guidance/coe/setup-powerbi.md
  power-platform/guidance/coe/setup.md
Owners: @KumarVivek, @sericks007

Update transparency-note-copilot-data-sharing.md
  power-platform/transparency-note-copilot-data-sharing.md
Owners: none

Updates as per the UI
  power-platform/admin/tenant-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/tenant-settings.md
  power-platform/transparency-note-copilot-data-sharing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added link
  power-platform/transparency-note-overview.md
Owners: none

Acrolinx check
  power-platform/transparency-note-copilot-data-sharing.md
Owners: none

Tweaks
  power-platform/admin/tenant-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added link to Power Apps transparency note
  power-platform/transparency-note-overview.md
Owners: none

Policheck updates
  power-platform/admin/about-microsoft-cloud-china.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Policheck updates
  power-platform/admin/language-collations.md
  power-platform/guidance/adoption/dlp-strategy.md
  power-platform/guidance/coe/overview.md
  power-platform/guidance/expressroute/planning-expressroute.md
  power-platform/power-fx/reference/function-groupby.md
Owners: @KumarVivek, @sericks007, @tapanm-msft, @mduelae

Policheck updates
  power-platform/admin/about-microsoft-cloud-china.md
  power-platform/admin/analytics-powerapps.md
  power-platform/admin/business-applications-availability-china.md
  power-platform/admin/language-collations.md
  power-platform/developer/reference/appManagement/appManagement.json
  power-platform/guidance/adoption/environment-strategy.md
  power-platform/guidance/coe/core-components.md
  power-platform/guidance/coe/power-bi-compliance.md
  power-platform/guidance/expressroute/things-to-consider.md
  power-platform/power-fx/reference/function-distinct.md
  power-platform/solution-templates/finance/sap-procurement/administer/apply-seed-data.md
  power-virtual-agents/admin-certification.md
  power-virtual-agents/data-location.md
Owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @mduelae, @iaanw, @leeclontz

Update powerapps-powershell.md
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Corrected unescaped URL in line 69
  power-platform/guidance/alm-accelerator/customize-deployment-pipelines.md
Owners: @KumarVivek, @sericks007

Update advanced-bot-framework-composer-capture-telemetry.md
  power-virtual-agents/advanced-bot-framework-composer-capture-telemetry.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update advanced-bot-framework-composer-capture-telemetry.md
  power-virtual-agents/advanced-bot-framework-composer-capture-telemetry.md
Owners: @iaanw, @leeclontz, @KumarVivek

Added link to PVA docs
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Tweaks
  power-virtual-agents/guidance/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Added tile for best practices guidance
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Fixes
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Tweaks
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Updates
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Fixed troubleshoot link
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Tweaks
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update solution checker enforcement strings
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update image
  power-platform/admin/media/managed-environment-solution-checker.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add solution checker enforcement email details
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix link
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Date updates
  power-platform/admin/about-microsoft-cloud-china.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

edits
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update copy-environment.md
  power-platform/admin/copy-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

changes
  power-platform/admin/copy-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update breadcrumb.md
  power-platform/guidance/creator-kit/breadcrumb.md
Owners: @KumarVivek, @sericks007

Typo fix
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

More fixes
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add governance spec
  power-platform/developer/reference/governance/governance.json
Owners: @PHecke, @KumarVivek, @JimDaly
