Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update setup-auditlog-http.md
  power-platform/guidance/coe/setup-auditlog-http.md
Owners: @KumarVivek, @sericks007

Update managed-environment-solution-checker.md
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/TOC.yml
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/TOC.yml
Owners: none

Update
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updated based on support team feedback
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-install-config-tools.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Metadata updates
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Adding D365FinOpsApplicationExplorer.png
  power-platform/media/D365FinOpsApplicationExplorer.png
Owners: none

Update finance-operations-install-config-tools.md media
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding D365FinOpsApplicationExplorer.png
  power-platform/developer/media/unified-experience/D365FinOpsApplicationExplorer.png
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-install-config-tools.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/TOC.yml
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updated link and install instructions
  power-platform/solution-templates/finance/sap-procurement/administer/install.md
Owners: none

Add files via upload
  power-platform/admin/media/allow-data-movement.png
  power-platform/admin/media/terms-of-use.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/geographical-availability-copilot.md
  power-platform/admin/media/allow-data-movement.png
  power-platform/admin/media/terms-of-use.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/geographical-availability-copilot.md
  power-platform/admin/media/allow-data-movement.png
  power-platform/admin/media/terms-of-use.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add privilege note for solution checker
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update hierarchy-security.md
  power-platform/admin/hierarchy-security.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/hierarchy-security.png
Owners: @KumarVivek, @sericks007, @tapanm-msft
