Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update manage-teams.md
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-teams.md
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-teams.md
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-teams.md
  power-platform/admin/manage-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update online-requirements.md
  power-platform/admin/online-requirements.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-us-government.md
  power-platform/admin/powerapps-us-government.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update about-microsoft-cloud-china.md
  power-platform/admin/about-microsoft-cloud-china.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update microsoft-dynamics-365-government.md
  power-platform/admin/microsoft-dynamics-365-government.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Minor edit.
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Updated for DoD
  power-platform/admin/powerapps-us-government.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Tweaks
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added a note about dev env.
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

fix-typos
  power-platform/power-fx/reference/function-now-today-istoday.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

another-typo
  power-platform/power-fx/reference/function-now-today-istoday.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update download-template-data-import.md
  power-platform/admin/download-template-data-import.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor format and text change
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Create delegated-deployments-setup
  power-platform/alm/delegated-deployments-setup
Owners: @PHecke, @KumarVivek, @Mattp123

Update TOC.yml
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Added missing file extension (.md)
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Fix error
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Multiple fixes
  power-platform/alm/delegated-deployments-setup.md
  power-platform/alm/extend-pipelines.md
  power-platform/alm/media/canonical-approval-flow.png
  power-platform/alm/media/dynamic-properties-power-automate.png
  power-platform/alm/media/extensibility-flow-diagram.png
  power-platform/alm/media/spn-connection.png
Owners: @PHecke, @KumarVivek, @Mattp123

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Remove Preview Tag
  power-virtual-agents/advanced-clu-entity-registration.md
  power-virtual-agents/advanced-clu-get-started.md
  power-virtual-agents/advanced-clu-integration.md
  power-virtual-agents/media/advanced-clu-integration/clu-image1.png
  power-virtual-agents/media/advanced-clu-integration/clu-image6.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update devops-build-tools.md
  power-platform/alm/devops-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Onboarding Buddy
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/administer/get-started.md
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
  power-platform/solution-templates/hr/awards-and-recognition/manage.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
  power-platform/solution-templates/hr/employee-kudos/install-and-configure.md
  power-platform/solution-templates/hr/employee-kudos/manage.md
  power-platform/solution-templates/hr/employee-kudos/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/media/ob-set-up-roles-env.png
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
  power-platform/solution-templates/overview.md
Owners: none

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

new-faq
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update devops-build-tool-tasks.md
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
