Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-platform-tools.png
  power-platform/admin/unified-experience/media/copy-to-ode-view-apps.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating images/links
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating image links
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Removing old image copies
  power-platform/admin/unified-experience/media/copy-to-ode-platform-tools2.png
  power-platform/admin/unified-experience/media/copy-to-ode-view-apps2.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/unified-experience/media/copy-to-ode-install-apps.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update migrating-from-default-environment.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update cmk-migrate-from-byok.md
  power-platform/admin/cmk-migrate-from-byok.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update cmk-migrate-from-byok.md
  power-platform/admin/cmk-migrate-from-byok.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added image
  power-platform/developer/media/unified-experience/devexp-test-create_model.png
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

MInor changes
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

How and Why PVA creates App Registrations
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update application-modernization.md
  power-platform/guidance/white-papers/application-modernization.md
Owners: @KumarVivek, @sericks007

Update index.md
  power-platform/guidance/white-papers/index.md
Owners: @KumarVivek, @sericks007

update to conf env var table
  power-platform/solution-templates/finance/sap-procurement/administer/configure-environment-variables.md
Owners: none

update date
  power-platform/solution-templates/finance/sap-procurement/administer/configure-environment-variables.md
Owners: none

Update application-modernization.md
  power-platform/guidance/white-papers/application-modernization.md
Owners: @KumarVivek, @sericks007

Added new empty article
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-sales-territories-organize-business-markets-geographical-area.md
  power-platform/admin/set-up-sales-territories-organize-business-markets-geographical-area.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  sales-territories.png
Owners: none

Update capacity-storage.md
  power-platform/admin/capacity-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/sales-territories.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update analytics-ui-flow.md
  power-platform/admin/analytics-ui-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Getting some content in to start feedback
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Attempting to clarify item
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Trying to condense, clarify the "goals list" from source doc
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Grammar/language cleanup.
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding more content
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

More content add
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

First complete pass on source content
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Draft updates per Acrolinx
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating formatting
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly
