Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Link to how to change the default classification of a DLP policy
  power-platform/guidance/adoption/secure-default-environment.md
Owners: @KumarVivek, @sericks007

Remove en-US from URL
  power-platform/guidance/adoption/secure-default-environment.md
Owners: @KumarVivek, @sericks007

Use relative path
  power-platform/guidance/adoption/secure-default-environment.md
Owners: @KumarVivek, @sericks007

Update secure-default-environment.md
  power-platform/guidance/adoption/secure-default-environment.md
Owners: @KumarVivek, @sericks007

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

adding section to provide feedback
  power-platform/developer/cli/introduction.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conversation-diagnostics-application-insights.md
  power-platform/admin/conversation-diagnostics-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update index.yml
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update index.yml
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

More developer content
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/debugging.md
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

File rename
  power-platform/developer/unified-experience/debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Removing place holder files
  power-platform/developer/unified-experience/unified-exp-development-lifecycle.md
  power-platform/developer/unified-experience/unified-exp-get-started.md
  power-platform/developer/unified-experience/unified-exp-write-plugin.md
Owners: @PHecke, @KumarVivek, @JimDaly

TOC changes
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Renamed files
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/deploy-packages.md
  power-platform/developer/unified-experience/overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

More dev content changes
  power-platform/developer/media/unified-experience/devexp-debug-create_model1.png
  power-platform/developer/media/unified-experience/devexp-debug-create_model2.png
  power-platform/developer/media/unified-experience/devexp-debug-create_model3.png
  power-platform/developer/unified-experience/debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Clarifying Gen Answers needs Manual Auth for Sharepoint
  power-virtual-agents/nlu-generative-answers-sharepoint-onedrive.md
Owners: @iaanw, @leeclontz, @KumarVivek

GenAnswers must have manual auth configured
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

More changes
  power-platform/developer/unified-experience/debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
