Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Tweaks
  power-platform/developer/reference/governance/governance.json
Owners: @PHecke, @KumarVivek, @JimDaly

Update advanced-clu-get-started.md
  power-virtual-agents/advanced-clu-get-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update managed-environment-licensing.md
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-licensing.md
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-licensing.md
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Remove remaining SSS reference
  power-platform/admin/invite-users-azure-active-directory-b2b-collaboration.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-licensing.md
  power-platform/admin/managed-environment-licensing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-powershell.md
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update control-user-access.md
  power-platform/admin/control-user-access.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Remove preview reference
  power-platform/admin/connector-events-power-platform.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Remove preview reference
  power-platform/admin/connector-events-power-platform.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update connector-events-power-platform.md
  power-platform/admin/connector-events-power-platform.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Category: Content improvement Workitem: https://dev.azure.com/dynamicscrm/OneCRM/_workitems/edit/3477583/ Description: Adding email template and SLA to the table
  power-platform/admin/copy-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix minor spelling issue in fusion-development.md
  power-platform/developer/fusion-development.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add troubleshooting guide link to solution checker enforcement docs
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add to "See also" section
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-solution-checker.md
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Terminology updates
  .openpublishing.redirection.json
  power-platform/faqs-copilot-data-security-privacy.md
  power-platform/faqs-copilot-data-sharing.md
  power-platform/includes/responsible-ai-features.md
  power-platform/includes/responsible-ai-intro.md
  power-platform/includes/transparency-note-features.md
  power-platform/includes/transparency-note-intro.md
  power-platform/responsible-ai-overview.md
  power-platform/transparency-note-overview.md
Owners: none

TOC
  power-platform/TOC.yml
Owners: none

Fixes
  power-platform/faqs-copilot-data-security-privacy.md
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Shared content link update
  power-platform/faqs-copilot-data-security-privacy.md
Owners: none

Updates
  power-platform/faqs-copilot-data-security-privacy.md
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Update index.yml
  power-virtual-agents/index.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update advanced-proactive-message.md
  power-virtual-agents/advanced-proactive-message.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update manage-default-environment.md
  power-platform/guidance/adoption/manage-default-environment.md
Owners: @KumarVivek, @sericks007

Update advanced-clu-get-started.md
  power-virtual-agents/advanced-clu-get-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update function-showerror.md
  power-platform/power-fx/reference/function-showerror.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update advanced-clu-get-started.md
  power-virtual-agents/advanced-clu-get-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update advanced-clu-get-started.md
  power-virtual-agents/advanced-clu-get-started.md
Owners: @iaanw, @leeclontz, @KumarVivek

Add files via upload
  power-virtual-agents/media/advanced-clu-integration/clu-enable-language.png
Owners: @iaanw, @leeclontz, @KumarVivek

Update responsible-ai-overview.md
  power-platform/responsible-ai-overview.md
Owners: none

Update configuration-hand-off-omnichannel.md
  power-virtual-agents/configuration-hand-off-omnichannel.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update configuration-hand-off-omnichannel.md
  power-virtual-agents/configuration-hand-off-omnichannel.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updated ms.date to correct date for reporting.
  power-platform/guidance/adoption/wiki-community.md
Owners: @KumarVivek, @sericks007

Added link to DLP PowerShell examples.
  power-platform/admin/wp-data-loss-prevention.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-default-environment.md
  power-platform/guidance/adoption/manage-default-environment.md
Owners: @KumarVivek, @sericks007

Update manage-default-environment.md
  power-platform/guidance/adoption/manage-default-environment.md
Owners: @KumarVivek, @sericks007

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
