Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

rename-link
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update cmk-migrate-from-byok.md
  power-platform/admin/cmk-migrate-from-byok.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-group-teams.md
  power-platform/admin/manage-group-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create billed-messages
  power-virtual-agents/billed-messages
Owners: @iaanw, @leeclontz, @KumarVivek

Rename billed-messages to analytics-billed-messages
  power-virtual-agents/analytics-billed-messages
Owners: @iaanw, @leeclontz, @KumarVivek

Update analytics-billed-messages
  power-virtual-agents/analytics-billed-messages
Owners: @iaanw, @leeclontz, @KumarVivek

Rename analytics-billed-messages to analytics-billed-messages.md
  power-virtual-agents/analytics-billed-messages.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update analytics-billed-messages.md
  power-virtual-agents/analytics-billed-messages.md
Owners: @iaanw, @leeclontz, @KumarVivek

Added node for Copilot
  power-platform/index.yml
Owners: none

Tweaks
  power-platform/index.yml
Owners: none

Tweaks
  power-platform/index.yml
Owners: none

Tweaks
  power-platform/index.yml
Owners: none

Tweaks
  power-platform/index.yml
Owners: none

Updated date
  power-platform/index.yml
Owners: none

Fixed link
  power-platform/index.yml
Owners: none

Update and rename analytics-billed-messages.md to requirements-messages-management.md
  power-virtual-agents/analytics-billed-messages.md
  power-virtual-agents/requirements-messages-management.md
Owners: @iaanw, @leeclontz, @KumarVivek

add-property
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update advanced-end-user-authentication.md
  power-virtual-agents/advanced-end-user-authentication.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update view-known-issues.md
  power-platform/admin/view-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

various updates
  power-platform/solution-templates/TOC.yml
  power-platform/solution-templates/finance/sap-procurement/administer/apply-seed-data.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-authentication.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-environment-variables.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-security-groups.md
  power-platform/solution-templates/finance/sap-procurement/administer/customize-solutions.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-canvas-apps.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-cloud-flows.md
  power-platform/solution-templates/finance/sap-procurement/administer/extend-model-apps-dataverse.md
  power-platform/solution-templates/finance/sap-procurement/administer/get-started.md
  power-platform/solution-templates/finance/sap-procurement/administer/install.md
  power-platform/solution-templates/finance/sap-procurement/administer/monitor-errors.md
  power-platform/solution-templates/finance/sap-procurement/administer/requirements.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-connections.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-environments-data-policies.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-gateway.md
  power-platform/solution-templates/finance/sap-procurement/faqs.md
  power-platform/solution-templates/finance/sap-procurement/overview.md
  power-platform/solution-templates/finance/sap-procurement/use/goods-receipt-management.md
  power-platform/solution-templates/finance/sap-procurement/use/payment-management.md
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
  power-platform/solution-templates/hr/awards-and-recognition/manage.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
  power-platform/solution-templates/hr/employee-kudos/install-and-configure.md
  power-platform/solution-templates/hr/employee-kudos/manage.md
  power-platform/solution-templates/hr/employee-kudos/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/media/customize/ob-start-update.png
  power-platform/solution-templates/hr/onboarding-buddy/media/overview/ob-configure-match-and-emails.png
  power-platform/solution-templates/hr/onboarding-buddy/media/overview/ob-configure-match-emails.png
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/use.md
  power-platform/solution-templates/overview.md
Owners: none

Update power-automate-analytics-reports.md
  power-platform/admin/power-automate-analytics-reports.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Remove experimental note from App.Formulas and App.OnError
  power-platform/power-fx/reference/object-app.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Requirements updates
  power-platform/solution-templates/finance/sap-procurement/administer/requirements.md
  power-platform/solution-templates/finance/sap-procurement/administer/set-up-gateway.md
Owners: none

Update doc-management-known-issues.md
  power-platform/admin/doc-management-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update doc-management-known-issues.md
  power-platform/admin/doc-management-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

fixed link
  power-platform/solution-templates/finance/sap-procurement/administer/requirements.md
Owners: none

link update
  power-platform/solution-templates/finance/sap-procurement/administer/requirements.md
Owners: none

Update install-and-configure.md
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
Owners: none

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

updates
  power-platform/power-fx/TOC.yml
  power-platform/power-fx/formula-reference.md
  power-platform/power-fx/reference/function-edate-eomonth.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update configure-authentication.md
  power-platform/solution-templates/finance/sap-procurement/administer/configure-authentication.md
Owners: none

Update install-and-configure.md
  power-platform/solution-templates/hr/employee-kudos/install-and-configure.md
Owners: none

Update install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
Owners: none

Revert "GA of solution checker enforcement"
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revert "Update TOC.yml"
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Revert "Minor update"
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft
