Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update teams-governance.md
  power-platform/guidance/coe/teams-governance.md
Owners: @KumarVivek, @sericks007

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/EnvRouting-Bloge.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/developer-environments-assignment-everyone.png
  power-platform/admin/media/environment-routing.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

escape angle brackets
  power-platform/developer/cli/reference/modelbuilder.md
Owners: @PHecke, @KumarVivek, @JimDaly

escape both
  power-platform/developer/cli/reference/modelbuilder.md
Owners: @PHecke, @KumarVivek, @JimDaly

Tweaks
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Limit on ACS channel affecting OC context on transfer
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Adding refence to the limits page from OC
  power-virtual-agents/configuration-hand-off-omnichannel.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added a note about saving or printing the white paper
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Minor edits
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated metadata for SEO boost
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/admin/support-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Acrolinx suggestions
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update managed-environment-activation.md
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Added link to white paper
  power-platform/guidance/index.yml
Owners: @KumarVivek, @sericks007

Clarifying only applies to OC
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update manage-principalobjectaccess-storage.md
  power-platform/admin/manage-principalobjectaccess-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-principalobjectaccess-storage.md
  power-platform/admin/manage-principalobjectaccess-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-principalobjectaccess-storage.md
  power-platform/admin/manage-principalobjectaccess-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

ai generated description
  power-platform/admin/set-up-business-management-options.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update manage-principalobjectaccess-storage.md
  power-platform/admin/manage-principalobjectaccess-storage.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update index.md
  power-platform/guidance/white-papers/index.md
Owners: @KumarVivek, @sericks007

Update publication-connect-bot-to-custom-application.md
  power-virtual-agents/publication-connect-bot-to-custom-application.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update function-param.md
  power-platform/power-fx/reference/function-param.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update function-showerror.md
  power-platform/power-fx/reference/function-showerror.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update function-param.md
  power-platform/power-fx/reference/function-param.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update function-showerror.md
  power-platform/power-fx/reference/function-showerror.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updating procedures per 3601801
  power-platform/admin/create-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
