Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

set redir to true {add redirects}
  .openpublishing.redirection.power-virtual-agents.json
Owners: none

trying to resolve redirs....
  .openpublishing.redirection.power-virtual-agents.json
Owners: none

redir fixes? #6830
  .openpublishing.redirection.power-virtual-agents.json
  power-virtual-agents/personal-data-delete.md
  power-virtual-agents/personal-data-discovery.md
  power-virtual-agents/personal-data-export.md
  power-virtual-agents/personal-data-summary.md
Owners: @iaanw, @leeclontz, @KumarVivek

Adding PVA items
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs-generative-answers.md
  power-virtual-agents/faqs-generative-answers.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update delete-users.md
  power-platform/admin/delete-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Awards and Recognition and SAP use updates
  power-platform/solution-templates/finance/sap-procurement/use/purchase-order-management.md
  power-platform/solution-templates/finance/sap-procurement/use/requisition-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-invoice-management.md
  power-platform/solution-templates/finance/sap-procurement/use/vendor-management.md
  power-platform/solution-templates/hr/awards-and-recognition/install.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/awards-and-recognition/use.md
  power-platform/solution-templates/hr/employee-kudos/install.md
Owners: none

Updates
  power-platform/power-fx/reference/function-showerror.md
  power-platform/power-fx/reference/function-shuffle.md
  power-platform/power-fx/reference/function-sort.md
  power-platform/power-fx/reference/function-split.md
  power-platform/power-fx/reference/function-startswith.md
  power-platform/power-fx/reference/function-table-counts.md
  power-platform/power-fx/reference/function-table-shaping.md
  power-platform/power-fx/reference/function-table.md
  power-platform/power-fx/reference/function-text.md
  power-platform/power-fx/reference/function-trace.md
  power-platform/power-fx/reference/function-trig.md
  power-platform/power-fx/reference/function-trim.md
  power-platform/power-fx/reference/function-update-updateif.md
  power-platform/power-fx/reference/function-updatecontext.md
  power-platform/power-fx/reference/function-user.md
  power-platform/power-fx/reference/function-validate.md
  power-platform/power-fx/reference/function-value.md
  power-platform/power-fx/reference/function-weeknum.md
  power-platform/power-fx/reference/function-with.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/formula-reference-power-apps.md
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/TOC.yml
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference-dataverse.md
  power-platform/power-fx/reference/function-aggregates.md
  power-platform/power-fx/reference/function-char.md
  power-platform/power-fx/reference/function-concatenate.md
  power-platform/power-fx/reference/function-dateadd-datediff.md
  power-platform/power-fx/reference/function-datetime-parts.md
  power-platform/power-fx/reference/function-if.md
  power-platform/power-fx/reference/function-iferror.md
  power-platform/power-fx/reference/function-isblank-isempty.md
  power-platform/power-fx/reference/function-left-mid-right.md
  power-platform/power-fx/reference/function-len.md
  power-platform/power-fx/reference/function-logicals.md
  power-platform/power-fx/reference/function-lower-upper-proper.md
  power-platform/power-fx/reference/function-mod.md
  power-platform/power-fx/reference/function-now-today-istoday.md
  power-platform/power-fx/reference/function-numericals.md
  power-platform/power-fx/reference/function-replace-substitute.md
  power-platform/power-fx/reference/function-round.md
  power-platform/power-fx/reference/function-startswith.md
  power-platform/power-fx/reference/function-text.md
  power-platform/power-fx/reference/function-trim.md
  power-platform/power-fx/reference/function-value.md
  power-platform/power-fx/reference/function-weeknum.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference-power-apps.md
  power-platform/power-fx/reference/function-aggregates.md
  power-platform/power-fx/reference/function-param.md
  power-platform/power-fx/reference/function-relate-unrelate.md
  power-platform/power-fx/reference/function-setfocus.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference-dataverse.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference-dataverse.md
  power-platform/power-fx/formula-reference-power-apps.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference-dataverse.md
  power-platform/power-fx/reference/function-choices.md
  power-platform/power-fx/reference/function-clear-collect-clearcollect.md
  power-platform/power-fx/reference/function-clock-calendar.md
  power-platform/power-fx/reference/function-concurrent.md
  power-platform/power-fx/reference/function-download.md
  power-platform/power-fx/reference/function-encode-decode.md
  power-platform/power-fx/reference/function-errors.md
  power-platform/power-fx/reference/function-filter-lookup.md
  power-platform/power-fx/reference/function-form.md
  power-platform/power-fx/reference/function-groupby.md
  power-platform/power-fx/reference/function-hashtags.md
  power-platform/power-fx/reference/function-json.md
  power-platform/power-fx/reference/function-refresh.md
  power-platform/power-fx/reference/function-remove-removeif.md
  power-platform/power-fx/reference/function-select.md
  power-platform/power-fx/reference/function-setproperty.md
  power-platform/power-fx/reference/function-showerror.md
  power-platform/power-fx/reference/function-sort.md
  power-platform/power-fx/reference/function-table-shaping.md
  power-platform/power-fx/reference/function-update-updateif.md
  power-platform/power-fx/reference/function-validate.md
  power-platform/power-fx/reference/object-app.md
  power-platform/power-fx/reference/operators.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/formula-reference-dataverse.md
  power-platform/power-fx/reference/function-text.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/reference/operators.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Add files via upload
  power-platform/admin/media/power-automate-licensing/select-plan.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/power-automate-licensing/selected-plan.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/power-automate-licensing/add-ons-details.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/power-automate-licensing/per-flow-plan-capacity-needed.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/power-fx/formula-reference-pva.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Fixing typos
  power-platform/power-fx/reference/function-now-today-istoday.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Revised for style and covering all Power Platform responsible AI
  power-platform/alm/copilot-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/responsible-AI-overview.md
Owners: @PHecke, @KumarVivek, @Mattp123

Bolding UI
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Adding prereq
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates for tutorials
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update types.md
  power-platform/admin/power-automate-licensing/types.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
