Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Updates
  power-platform/developer/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Build errors fixed
  power-platform/developer/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Moved article
  power-platform/developer/TOC.yml
  power-platform/developer/cli/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed build errors
  power-platform/developer/cli/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Build warnings fixed
  power-platform/developer/cli/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed spacing issue in OB Use
  power-platform/solution-templates/hr/onboarding-buddy/use.md
Owners: none

Tweaks
  .openpublishing.redirection.json
  power-platform/admin/dataverse-privacy-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fixed file name links
  power-platform/admin/TOC.yml
  power-platform/admin/miscellaneous-privileges.md
  power-platform/admin/powerapps-privacy-delete-dsr.md
  power-platform/admin/powerapps-privacy-dsr-guide.md
  power-platform/admin/powerapps-privacy-export-dsr.md
  power-platform/admin/wp-compliance-data-privacy.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added redirections
  .openpublishing.redirection.json
Owners: none

Style alignment between HR articles
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/employee-kudos/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
Owners: none

Moved article into new folder
  power-platform/developer/TOC.yml
  power-platform/developer/howto/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added new content
  power-platform/developer/howto/cli-create-package.md
  power-platform/developer/howto/vs-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed links
  power-platform/developer/TOC.yml
  power-platform/developer/howto/cli-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update move-environment-tenant.md
  power-platform/admin/move-environment-tenant.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating cert rotation cadence
  power-virtual-agents/requirements-quotas.md
Owners: @iaanw, @leeclontz, @KumarVivek

Added images
  power-platform/developer/howto/vs-create-package.md
  power-platform/developer/media/tools/power-platform-create-pluginpackage-dialog.png
  power-platform/developer/media/tools/power-platform-create-pluginpackage.png
  power-platform/developer/media/tools/power-platform-delete-pluginpackage.png
  power-platform/developer/media/tools/power-platform-deploy-pluginpackage.png
  power-platform/developer/media/tools/power-platform-explorer-plug-in-packages.png
  power-platform/developer/media/tools/power-platform-tools-options.png
  power-platform/developer/media/tools/power-platform-update-pluginpackage.png
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed links
  power-platform/developer/howto/vs-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Further updates
  power-platform/developer/howto/cli-create-package.md
  power-platform/developer/howto/vs-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Add SharePoint to list of integrations that need to be re-configured after Tenant-To-Tenant migration
  power-platform/admin/move-environment-tenant.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updated links
  power-platform/developer/howto/vs-create-package.md
Owners: @PHecke, @KumarVivek, @JimDaly

Setting up WA POC
  power-platform/docfx.json
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/index.yml
  power-platform/well-architected/overview.md
Owners: none

Working on landing
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/index.md
  power-platform/well-architected/index.yml
Owners: none

Acrolinx score improvements
  power-platform/developer/devtools-vs-create-project.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updated for GDPR term compliance
  power-platform/guidance/expressroute/benefits.md
Owners: @KumarVivek, @sericks007

Fixed date
  power-platform/guidance/expressroute/benefits.md
Owners: @KumarVivek, @sericks007

Delete index.yml
  power-platform/well-architected/index.yml
Owners: none

Update TOC.yml
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

style updates and fixes
  power-platform/solution-templates/hr/awards-and-recognition/install-and-configure.md
  power-platform/solution-templates/hr/awards-and-recognition/overview.md
  power-platform/solution-templates/hr/employee-kudos/install-and-configure.md
  power-platform/solution-templates/hr/employee-kudos/media/install/kudo-app-flow.png
  power-platform/solution-templates/hr/employee-kudos/overview.md
  power-platform/solution-templates/hr/onboarding-buddy/customize.md
  power-platform/solution-templates/hr/onboarding-buddy/install-and-configure.md
  power-platform/solution-templates/hr/onboarding-buddy/manage.md
  power-platform/solution-templates/hr/onboarding-buddy/media/overview/ob-configure-match-emails.png
  power-platform/solution-templates/hr/onboarding-buddy/media/overview/ob-three-welcome.png
  power-platform/solution-templates/hr/onboarding-buddy/overview.md
Owners: none

Update create-users.md
  power-platform/admin/create-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-users.md
  power-platform/admin/create-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update list-tenantsettings add AI Builder credits setting
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update list-tenantsettings.md
  power-platform/admin/list-tenantsettings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update delegated-deployments-setup.md
  power-platform/alm/delegated-deployments-setup.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update reset-environment.md
  power-platform/admin/reset-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Removing gdpr language for "privacy"
  power-platform/admin/data-integration-gdpr-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating DSR refence in introduction
  power-platform/admin/data-integration-gdpr-dsr-guide.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update system-application-users.md with correct PowerAppsRP roles
  power-platform/admin/system-application-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updated related media file name: gdpr -> privacy Updated content file name: gdpr -> privacy
  power-platform/admin/data-integration-privacy-dsr-guide.md
  power-platform/admin/media/data-integration-privacy-dsr/connections-tab.png
  power-platform/admin/media/data-integration-privacy-dsr/connsets-del.png
  power-platform/admin/media/data-integration-privacy-dsr/connsets-exp.png
  power-platform/admin/media/data-integration-privacy-dsr/projects-del.png
  power-platform/admin/media/data-integration-privacy-dsr/projects-exp.png
  power-platform/admin/media/data-integration-privacy-dsr/projects-tab.png
  power-platform/admin/media/data-integration-privacy-dsr/templates-del.png
  power-platform/admin/media/data-integration-privacy-dsr/templates-exp.png
  power-platform/admin/media/data-integration-privacy-dsr/templates-tab.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating TOC to have new file name
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
