Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Add files via upload
  power-platform/developer/media/unified-experience/pipelines-add-licenses.png
  power-platform/developer/media/unified-experience/pipelines-build-solution.png
  power-platform/developer/media/unified-experience/pipelines-create-deployable-package.png
  power-platform/developer/media/unified-experience/pipelines-create-release-pipeline.png
  power-platform/developer/media/unified-experience/pipelines-deploy-packages.png
  power-platform/developer/media/unified-experience/pipelines-who-am-i.png
Owners: @PHecke, @KumarVivek, @JimDaly

Image upload and linking, take 1
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/developer/media/unified-experience/pipelines-locate-artifacts.png
Owners: @PHecke, @KumarVivek, @JimDaly

Adding placeholder image
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Editorial changes.
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Edits per Acrolinx
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Editing to align goals with content blocks.
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor changes
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Link in intro to: https://review.learn.microsoft.com/dynamics365/fin-ops-core/dev-itpro/dev-tools/development-tools-overview.md
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating link per Peter H
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixing image captions per build feedback
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating numbering
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating list numbering as needed
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

More numbering fixes
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update function-user.md
  power-platform/power-fx/reference/function-user.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faq.md
  power-platform/guidance/coe/faq.md
Owners: @KumarVivek, @sericks007

Update faq.md
  power-platform/guidance/coe/faq.md
Owners: @KumarVivek, @sericks007

Update faq.md
  power-platform/guidance/coe/faq.md
Owners: @KumarVivek, @sericks007

removed mention of the deprecated apps
  power-platform/guidance/coe/core-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007

removed mention of deprecated apps
  power-platform/guidance/coe/core-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007

Update setup-auditlog-http.md
  power-platform/guidance/coe/setup-auditlog-http.md
Owners: @KumarVivek, @sericks007

updates based on open docs issues
  power-platform/guidance/coe/example-processes.md
  power-platform/guidance/coe/power-bi-govern.md
  power-platform/guidance/coe/starter-kit-explained.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Added new HTTP request node and updated DLP doc
  power-virtual-agents/authoring-http-node.md
  power-virtual-agents/dlp-example-2.md
  power-virtual-agents/media/authoring-http-node/add-headers.png
  power-virtual-agents/media/authoring-http-node/add-http-node.png
  power-virtual-agents/media/authoring-http-node/body-content-json.png
  power-virtual-agents/media/authoring-http-node/body-content-options.png
  power-virtual-agents/media/authoring-http-node/body-content-raw.png
  power-virtual-agents/media/authoring-http-node/error-handling.png
  power-virtual-agents/media/authoring-http-node/schema-from-sample.png
  power-virtual-agents/media/authoring-http-node/select-http-method.png
  power-virtual-agents/media/dlp-example-2/dlp-error-download.png
  power-virtual-agents/media/dlp-example-2/http-node-dlp-error.png
Owners: @iaanw, @leeclontz, @KumarVivek

Updates based on content editor comments
  power-platform/guidance/coe/governance-components.md
  power-platform/guidance/coe/setup-auditlog.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Update powerapps-flow-licensing-faq.md with AI Builder correction
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Update nurture-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007

'ALM Accelerator' september documentation changes.
  power-platform/guidance/alm-accelerator/configure-azuredevops-pipelines.md
Owners: @KumarVivek, @sericks007

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update configure-azuredevops-pipelines.md
  power-platform/guidance/alm-accelerator/configure-azuredevops-pipelines.md
Owners: @KumarVivek, @sericks007

Update core-components.md
  power-platform/guidance/coe/core-components.md
Owners: @KumarVivek, @sericks007

Update example-processes.md
  power-platform/guidance/coe/example-processes.md
Owners: @KumarVivek, @sericks007

Update faq.md
  power-platform/guidance/coe/faq.md
Owners: @KumarVivek, @sericks007

Update governance-components.md
  power-platform/guidance/coe/governance-components.md
Owners: @KumarVivek, @sericks007

Update nurture-components.md
  power-platform/guidance/coe/nurture-components.md
Owners: @KumarVivek, @sericks007

Update settings-collaboration.md
  power-platform/admin/settings-collaboration.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
