Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update object-host.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updating delete environment language to segue into tabs.
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Acrolinx fixes
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update enable-use-comprehensive-auditing.md
  power-platform/admin/enable-use-comprehensive-auditing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics.md
  power-platform/admin/self-service-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Grammar cleanup per Acrolinx
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly

Updating inline code references per build warning
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixing in-line file path to render correctly.
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

file path correction
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed build suggestions
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update self-service-analytics-schema-definition.md
  power-platform/admin/self-service-analytics-schema-definition.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

ps-code
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

powershell-code
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update self-service-analytics-schema-definition.md
  power-platform/admin/self-service-analytics-schema-definition.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor edits
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updates for known limitations
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update finance-operations-testing.md
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor edits
  power-platform/developer/isvstudio/index.md
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor edits
  power-platform/developer/unified-experience/finance-operations-testing.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor edits
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-faq.md
  power-platform/developer/unified-experience/finance-operations-pipelines.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fixed branding
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor edits
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Applied correct terminology per cloud style guide
  power-platform/admin/finance-operations-storage-capacity.md
  power-platform/admin/powerapps-flow-licensing-faq.md
  power-platform/admin/unified-experience/admin-trials.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
  power-platform/developer/isvstudio/index.md
  power-platform/developer/unified-experience/finance-operations-debug.md
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
  power-platform/developer/unified-experience/finance-operations-install-config-tools.md
Owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly

Terminology corrections
  power-platform/admin/power-automate-licensing/faqs.md
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/admin/unified-experience/admin-trials.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/admin/unified-experience/finance-operations-apps-overview.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/admin/unified-experience/tutorial-copy-lifecycle-services-environment-unified-environment.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Tweaks
  power-platform/admin/unified-experience/tutorial-deploy-new-environment-with-ERP-template.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Style and SEO tweaks
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

SEO updates
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update extend-pipelines.md
  power-platform/alm/extend-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Added plugin actions article
  power-virtual-agents/advanced-plugin-actions.md
  power-virtual-agents/media/advanced-plugin-actions/add-plugin-action.png
  power-virtual-agents/media/advanced-plugin-actions/plugin-added.png
  power-virtual-agents/media/advanced-plugin-actions/weather-topic-add-action.png
  power-virtual-agents/media/advanced-plugin-actions/weather-topic-node-added.png
  power-virtual-agents/media/advanced-plugin-actions/weather-topic-overridden-input.png
  power-virtual-agents/media/advanced-plugin-actions/weather-topic-select-input-override.png
  power-virtual-agents/media/advanced-plugin-actions/weather-topic-test-plugin-action.png
  power-virtual-agents/media/advanced-plugin-actions/weather-topic-trigger-phrases.png
  power-virtual-agents/media/advanced-plugin-actions/wizard-connection.png
  power-virtual-agents/media/advanced-plugin-actions/wizard-inputs.png
  power-virtual-agents/media/advanced-plugin-actions/wizard-name-description.png
  power-virtual-agents/media/advanced-plugin-actions/wizard-outputs-response.png
  power-virtual-agents/media/advanced-plugin-actions/wizard-outputs.png
  power-virtual-agents/media/advanced-plugin-actions/wizard-start.png
Owners: @iaanw, @leeclontz, @KumarVivek

Delete power-platform/admin/set-up-sales-territories-organize-business-markets-geographical-area.md
  power-platform/admin/set-up-sales-territories-organize-business-markets-geographical-area.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
