Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update about-encryption.md
  power-platform/admin/about-encryption.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update about-encryption.md
  power-platform/admin/about-encryption.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update about-encryption.md
  power-platform/admin/about-encryption.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update about-encryption.md
  power-platform/admin/about-encryption.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/environment-routing.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update customer-managed-key.md
  power-platform/admin/customer-managed-key.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs-copilot-data-sharing.md
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs-copilot-data-sharing.md
  power-platform/faqs-copilot-data-sharing.md
Owners: none

Update sync-logic.md
  power-platform/admin/sync-logic.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update sync-logic.md
  power-platform/admin/sync-logic.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update default-environment-routing.md
  power-platform/admin/default-environment-routing.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

..
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

Create view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating: directory TOC, -issues Creating: -finops-apps
  power-platform/admin/TOC.yml
  power-platform/admin/view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fixing mds table formatting
  power-platform/admin/view-license-consumption-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Checking in changes to TOC (title matching), updates to -finops-apps.md
  power-platform/admin/TOC.yml
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Completing content port to -finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add files via upload
  power-platform/admin/media/admin-view-user-licenses/finops-apps-drill-down.png
  power-platform/admin/media/admin-view-user-licenses/finops-apps-email-userid-sort.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Adding image/links to -finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updating acronym usage: user principal name (UPN)
  power-platform/admin/view-license-consumption-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-issues.md
  power-platform/admin/view-license-consumption-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update tenant-level-analytics.md
  power-platform/admin/tenant-level-analytics.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
