Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Update set-up-export-application-insights.md
  power-platform/admin/set-up-export-application-insights.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs.md
  power-platform/admin/power-automate-licensing/faqs.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Edited updated sections
  power-platform/admin/backup-restore-environments.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Edited updated sections
  power-platform/admin/powershell-installation.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update app-insights-cloud-flow.md
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update setup-core-components.md
  power-platform/guidance/coe/setup-core-components.md
Owners: @KumarVivek, @sericks007

Update modify-components.md
  power-platform/guidance/coe/modify-components.md
Owners: @KumarVivek, @sericks007

Update configure-relevance-search-organization.md
  power-platform/admin/configure-relevance-search-organization.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update using-word-templates-dynamics-365.md
  power-platform/admin/using-word-templates-dynamics-365.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

final updates
  power-virtual-agents/faqs-copilot.md
  power-virtual-agents/faqs-generative-answers.md
  power-virtual-agents/nlu-authoring.md
  power-virtual-agents/nlu-boost-conversations.md
  power-virtual-agents/nlu-gpt-overview.md
  power-virtual-agents/nlu-gpt-quickstart.md
  power-virtual-agents/responsible-ai-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

updates
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

validation fixes
  power-virtual-agents/TOC.yml
  power-virtual-agents/faqs-copilot.md
  power-virtual-agents/faqs-generative-answers.md
  power-virtual-agents/faqs-transparency-note-copilotZrem.md
  power-virtual-agents/nlu-gpt-quickstart.md
  power-virtual-agents/responsible-ai-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

updates
  power-virtual-agents/includes/responsible-ai-features.md
  power-virtual-agents/includes/responsible-ai-intro.md
  power-virtual-agents/responsible-ai-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

xx
  power-virtual-agents/responsible-ai-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

xx
  power-virtual-agents/responsible-ai-overview.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updates
  power-platform/admin/TOC.yml
  power-platform/admin/app-insights-cloud-flow.md
  power-platform/admin/media/app-insights-cloud-flow/mapping.png
  power-platform/admin/media/app-insights-cloud-flow/metrics.png
  power-platform/admin/media/app-insights-cloud-flow/triggers-actions.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/media/app-insights-cloud-flow/mapping.png
  power-platform/admin/media/app-insights-cloud-flow/metrics.png
  power-platform/admin/media/app-insights-cloud-flow/triggers-actions.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update conn-ref-env-variables-build-tools.md
  power-platform/alm/conn-ref-env-variables-build-tools.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update power-bi-govern.md
  power-platform/guidance/coe/power-bi-govern.md
Owners: @KumarVivek, @sericks007

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pricing-billing-skus.md
  power-platform/admin/pricing-billing-skus.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pricing-billing-skus.md
  power-platform/admin/pricing-billing-skus.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update buy-licenses.md
  power-platform/admin/power-automate-licensing/buy-licenses.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update add-ons.md
  power-platform/admin/power-automate-licensing/add-ons.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update request-premium-license.md
  power-platform/admin/power-automate-licensing/request-premium-license.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix
  power-platform/admin/app-insights-cloud-flow.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

in-topic updates
  power-virtual-agents/gdpr-delete.md
  power-virtual-agents/gdpr-discovery.md
  power-virtual-agents/gdpr-export.md
  power-virtual-agents/gdpr-summary.md
Owners: @iaanw, @leeclontz, @KumarVivek

renaming files
  power-virtual-agents/TOC.yml
  power-virtual-agents/media/personal-data-export/DownloadExportedData.png
  power-virtual-agents/media/personal-data-export/ExportChatbotAndChatbotSubComponent.png
  power-virtual-agents/media/personal-data-export/ExportDataMenu.png
  power-virtual-agents/media/personal-data-export/export-1.png
  power-virtual-agents/media/personal-data-export/export-azure-portal.png
  power-virtual-agents/media/personal-data-export/export-data-button.png
  power-virtual-agents/media/personal-data-export/open-table.png
  power-virtual-agents/personal-data-delete.md
  power-virtual-agents/personal-data-discovery.md
  power-virtual-agents/personal-data-export.md
  power-virtual-agents/personal-data-summary.md
Owners: @iaanw, @leeclontz, @KumarVivek

add redirects
  .openpublishing.redirection.power-virtual-agents.json
Owners: none
