Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update topic-authoring-best-practices.md
  power-virtual-agents/guidance/topic-authoring-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update configure-sso-teams.md
  power-virtual-agents/configure-sso-teams.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update configure-sso.md
  power-virtual-agents/configure-sso.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update topic-authoring-best-practices.md
  power-virtual-agents/guidance/topic-authoring-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update topic-authoring-best-practices.md
  power-virtual-agents/guidance/topic-authoring-best-practices.md
Owners: @iaanw, @leeclontz, @KumarVivek

Updates
  power-platform/power-fx/formula-reference-overview.md
  power-platform/power-fx/media/overview/overview.png
Owners: @tapanm-msft, @KumarVivek, @mduelae

Updates
  power-platform/power-fx/TOC.yml
  power-platform/power-fx/formula-reference-overview.md
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/formula-reference-overview.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update
  power-platform/power-fx/formula-reference-overview.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update formula-reference-overview.md
  power-platform/power-fx/formula-reference-overview.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Tweaks
  power-platform/power-fx/formula-reference-overview.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Tweaks
  power-platform/power-fx/formula-reference.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

GA of solution checker enforcement
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update TOC.yml
  power-platform/admin/TOC.yml
Owners: @KumarVivek, @sericks007, @tapanm-msft

Minor update
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Add public documentation for rule exclusions
  power-platform/admin/managed-environment-solution-checker.md
  power-platform/admin/media/managed-environment-solution-checker-rule-exclusions-list.png
  power-platform/admin/media/managed-environment-solution-checker-rule-exclusions.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-solution-checker.md
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

add-section
  power-platform/admin/power-automate-licensing/faqs.md
  power-platform/admin/power-automate-licensing/when-flows-are-turned-off.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Remove service reader role from Flow-RP application user
  power-platform/admin/system-application-users.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Language fallback additions
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Minor edits
  power-platform/developer/unified-experience/finance-operations-faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update cmk-migrate-from-byok.md
  power-platform/admin/cmk-migrate-from-byok.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update set-up-duplicate-detection-rules-keep-data-clean.md
  power-platform/admin/set-up-duplicate-detection-rules-keep-data-clean.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Pillars article stub
  power-platform/well-architected/TOC.yml
  power-platform/well-architected/pillars.md
Owners: none

Update pillars.md
  power-platform/well-architected/pillars.md
Owners: none

Update TOC.yml
  power-platform/well-architected/TOC.yml
Owners: none

Update pillars.md
  power-platform/well-architected/pillars.md
Owners: none

Update admin-activity-logging.md
  power-platform/admin/admin-activity-logging.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update pillars.md
  power-platform/well-architected/pillars.md
Owners: none

Update pillars.md
  power-platform/well-architected/pillars.md
Owners: none

Update multilingual.md
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update multilingual.md
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update multilingual.md
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update multilingual.md
  power-virtual-agents/multilingual.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update TOC.yml
  power-virtual-agents/TOC.yml
Owners: @iaanw, @leeclontz, @KumarVivek

Update doc about token and samples
  power-virtual-agents/publication-connect-bot-to-custom-application.md
Owners: @iaanw, @leeclontz, @KumarVivek

Added preview note
  power-platform/developer/unified-experience/finance-operations-dev-overview.md
Owners: @PHecke, @KumarVivek, @JimDaly

new-title
  power-platform/admin/TOC.yml
  power-platform/admin/power-automate-licensing/when-flows-are-turned-off.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
