Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Updates
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

power-platform AD rebranding
  power-platform/important-changes-coming.md
Owners: none

alm AD rebranding
  power-platform/alm/basics-alm.md
  power-platform/alm/checker-api/analyze.md
  power-platform/alm/checker-api/check-status.md
  power-platform/alm/checker-api/overview.md
  power-platform/alm/checker-api/upload-file.md
  power-platform/alm/citizen-dev-alm.md
  power-platform/alm/devops-build-tool-tasks.md
  power-platform/alm/devops-build-tools.md
  power-platform/alm/extend-pipelines-github-export.md
  power-platform/alm/extend-pipelines.md
  power-platform/alm/set-up-pipelines.md
  power-platform/alm/tutorials/github-actions-deploy.md
  power-platform/alm/tutorials/github-actions-start.md
Owners: @PHecke, @KumarVivek, @Mattp123

includes AD rebranding
  power-platform/includes/cc-privacy-crm-relevance-search.md
  power-platform/includes/cc-privacy-learning-path.md
  power-platform/includes/pn-azure-active-directory.md
  power-platform/includes/pn-microsoft-azure-active-directory.md
Owners: none

power-fx AD rebranding
  power-platform/power-fx/reference/function-send-app-notification.md
  power-platform/power-fx/reference/object-host.md
Owners: @tapanm-msft, @KumarVivek, @mduelae

Update telemetry-disable-remarks.md
  power-platform/developer/cli/reference/includes/telemetry-disable-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update telemetry-disable-remarks.md
  power-platform/developer/cli/reference/includes/telemetry-disable-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update ip-firewall.md
  power-platform/admin/ip-firewall.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix #2142
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

#2213 Fix typo
  power-platform/guidance/white-papers/managed-environment-activation.md
Owners: @KumarVivek, @sericks007

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Update important-changes-coming.md
  power-platform/important-changes-coming.md
Owners: none

Update manage-group-teams.md
  power-platform/admin/manage-group-teams.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-solution-checker.md
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-solution-checker.md
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update managed-environment-solution-checker.md
  power-platform/admin/managed-environment-solution-checker.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update power-automate-analytics-reports.md
  power-platform/admin/power-automate-analytics-reports.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update solution checker enforcement image
  power-platform/admin/media/managed-environment-solution-checker.png
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update plug-ins.md
  power-platform/admin/plug-ins.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update advanced-maker-experience.md
  power-platform/guidance/alm-accelerator/advanced-maker-experience.md
Owners: @KumarVivek, @sericks007

Update advanced-maker-experience.md
  power-platform/guidance/alm-accelerator/advanced-maker-experience.md
Owners: @KumarVivek, @sericks007

Update analyze.md
  power-platform/alm/checker-api/analyze.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update upload-file.md
  power-platform/alm/checker-api/upload-file.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update new-maker-experience.md
  power-platform/guidance/alm-accelerator/new-maker-experience.md
Owners: @KumarVivek, @sericks007

Update setup-app-user-permissions.md
  power-platform/guidance/alm-accelerator/setup-app-user-permissions.md
Owners: @KumarVivek, @sericks007

Update setup-app-user-permissions.md
  power-platform/guidance/alm-accelerator/setup-app-user-permissions.md
Owners: @KumarVivek, @sericks007

Update users-settings.md
  power-platform/admin/users-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create user-channel-override.md
  power-platform/admin/user-channel-override.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update users-settings.md
  power-platform/admin/users-settings.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-issues.md
  power-platform/admin/view-license-consumption-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-issues.md
  power-platform/admin/view-license-consumption-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update view-license-consumption-finops-apps.md
  power-platform/admin/view-license-consumption-finops-apps.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update geographical-availability-copilot.md
  power-platform/admin/geographical-availability-copilot.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
