Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek

Initial edit pass completed
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

Minor changes
  power-platform/developer/unified-experience/debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

More changes
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/debug.md
Owners: @PHecke, @KumarVivek, @JimDaly

devops-build-tool-tasks.md: add Power Platform Set Connection Variables
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update devops-build-tool-tasks.md
  power-platform/alm/devops-build-tool-tasks.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update create-team-template-add-entity-form.md
  power-platform/admin/create-team-template-add-entity-form.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Update whitepaper-migrating-from-default-environment.md
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Add files via upload
  power-platform/developer/media/unified-experience/copy-to-ode-copy-environment.png
  power-platform/developer/media/unified-experience/copy-to-ode-copy-progress.png
  power-platform/developer/media/unified-experience/copy-to-ode-install-apps.png
  power-platform/developer/media/unified-experience/copy-to-ode-platform-tools.png
  power-platform/developer/media/unified-experience/copy-to-ode-view-apps.png
Owners: @PHecke, @KumarVivek, @JimDaly

Creating copy-to-ode.md
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

First adds to copy-to-ode.md
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update settings-features.md
  power-platform/admin/settings-features.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

add link to test engine overview
  power-platform/developer/cli/reference/includes/tests-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

remove whitespace
  power-platform/developer/TOC.yml
Owners: @PHecke, @KumarVivek, @JimDaly

Second content commit for copy-to-ode.md
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Addressing Sally's comments
  power-platform/guidance/whitepaper-migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Updating IA to match Power Pages
  power-platform/guidance/TOC.yml
  power-platform/guidance/white-papers/index.md
  power-platform/guidance/white-papers/migrating-from-default-environment.md
  power-platform/guidance/whitepapers.md
Owners: @KumarVivek, @sericks007

Fixed image paths
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

Fixed TOC
  power-platform/guidance/TOC.yml
  power-platform/guidance/white-papers/migrating-from-default-environment.md
Owners: @KumarVivek, @sericks007

copy-to-ode content in; further smithing needed.
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update copy-to-ode.md
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating cross linking
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating internal link per build warning
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update copy-to-ode.md
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Update copy-to-ode.md
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Added some new placeholder topics
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/cicd-pipeline.md
  power-platform/developer/unified-experience/faq.md
Owners: @PHecke, @KumarVivek, @JimDaly

Initial updates per Prannav and Peter H
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating internal linking
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Add files via upload
  power-platform/developer/media/unified-experience/copy-to-ode-copy-progress2.png
Owners: @PHecke, @KumarVivek, @JimDaly

Updating copy progress image, related link
  power-platform/developer/media/unified-experience/copy-to-ode-copy-progress.png
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Per Prannav, replacing "AxDB", "MrDB" with "Databases"
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Un-capitalizing "Databases"
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating prereq [!IMPORTANT]: "...are provisioned in the same geographic region. ..."
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Updating grammar and capitalization
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

formatting update for readability
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Editorial pass updates
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

Adding app mod whitepaper
  power-platform/guidance/white-papers/application-modernization.md
Owners: @KumarVivek, @sericks007

Editorial revisions
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly

copy-to-code: edits for capitalization/clarity update to TOC: match doc an TOC titles
  power-platform/developer/TOC.yml
  power-platform/developer/unified-experience/copy-to-ode.md
Owners: @PHecke, @KumarVivek, @JimDaly
