Repository MicrosoftDocs/power-platform, changes with the owners that CODEOWNERS names for each.
All owners: @KumarVivek, @sericks007, @tapanm-msft, @PHecke, @JimDaly, @Mattp123, @mduelae, @iaanw, @leeclontz

Update auth.md
  power-platform/developer/cli/reference/auth.md
Owners: @PHecke, @KumarVivek, @JimDaly

Delete installation-success-2.png
  power-platform/developer/cli/media/installation-success-2.png
Owners: @PHecke, @KumarVivek, @JimDaly

Delete installation-success-3.png
  power-platform/developer/cli/media/installation-success-3.png
Owners: @PHecke, @KumarVivek, @JimDaly

Delete power-platform-vs-code-extension-install.png
  power-platform/developer/cli/media/power-platform-vs-code-extension-install.png
Owners: @PHecke, @KumarVivek, @JimDaly

Delete side-load-install-1.png
  power-platform/developer/cli/media/side-load-install-1.png
Owners: @PHecke, @KumarVivek, @JimDaly

restore list
  power-platform/developer/cli/reference/auth.md
Owners: @PHecke, @KumarVivek, @JimDaly

add sentence to describe list
  power-platform/developer/cli/reference/includes/auth-create-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly

correct parameter name
  power-platform/developer/cli/reference/includes/auth-create-remarks.md
Owners: @PHecke, @KumarVivek, @JimDaly

check
  power-platform/developer/cli/reference/includes/modelbuilder-build-intro.md
  power-platform/developer/cli/reference/includes/modelbuilder-build-remarks.md
  power-platform/developer/cli/reference/includes/modelbuilder-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

dos vs ps differences
  power-platform/developer/cli/reference/includes/modelbuilder-build-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

fix links
  power-platform/developer/cli/reference/includes/modelbuilder-intro.md
Owners: @PHecke, @KumarVivek, @JimDaly

Fix inaccuracy in the known issue for soft-deleted environments in DLP
  power-platform/admin/dlp-known-issues.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Fix typo in PS doc
  power-platform/admin/powerapps-powershell.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update nlu-boost-node.md
  power-virtual-agents/nlu-boost-node.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Added pipeline-AI-deployment-notes.gif
  power-platform/alm/media/pipeline-AI-deployment-notes.gif
Owners: @PHecke, @KumarVivek, @Mattp123

Replace pipeline-AI-deployment-notes.gif
  power-platform/alm/media/pipeline-AI-deployment-notes.gif
Owners: @PHecke, @KumarVivek, @Mattp123

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Create responsible-AI-overview.md
  power-platform/alm/responsible-AI-overview.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update copilot-deployment-notes-pipelines.md
  power-platform/alm/copilot-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update faqs-copilot.md
  power-virtual-agents/faqs-copilot.md
Owners: @iaanw, @leeclontz, @KumarVivek

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update powerapps-flow-licensing-faq.md
  power-platform/admin/powerapps-flow-licensing-faq.md
Owners: @KumarVivek, @sericks007, @tapanm-msft

Update overview.md
  power-platform/solution-templates/finance/sap-procurement/overview.md
Owners: none

Create faqs-AI-deployment-notes-pipelines.md
  power-platform/alm/faqs-AI-deployment-notes-pipelines.md
Owners: @PHecke, @KumarVivek, @Mattp123

Update TOC.yml
  power-platform/alm/TOC.yml
Owners: @PHecke, @KumarVivek, @Mattp123

Update responsible-AI-overview.md
  power-platform/alm/responsible-AI-overview.md
Owners: @PHecke, @KumarVivek, @Mattp123

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

/power-platform/admin                               @KumarVivek @sericks007 @tapanm-msft
/power-platform/guidance                            @KumarVivek @sericks007
/power-platform/developer/                          @PHecke @KumarVivek @JimDaly
/power-platform/alm/                                @PHecke @KumarVivek @Mattp123
/power-platform/power-fx/                           @tapanm-msft @KumarVivek @mduelae
/power-virtual-agents/                              @iaanw @leeclontz @KumarVivek
